In [41]:
import mysql.connector
import pandas as pd
import matplotlib as plt
import json
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Set pandas display options to show more rows and columns
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
# Connect to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="cricket_data"
)

# Define the query to select all columns from the matches table
query = """SELECT matches.match_id, matches.gender, matches.start_date, matches.teams_type,
matches.match_type, matches.team_involved_one, matches.team_involved_two, info_section.outcome,
info_section.toss, info_section.city, info_section.venue
FROM matches JOIN
info_section ON
matches.match_id = info_section.match_id;"""

# Execute the query and fetch the results
cursor = connection.cursor()
cursor.execute(query)
matches_data = cursor.fetchall()

# Close the cursor and connection
cursor.close()
connection.close()

# Convert the fetched data to a pandas DataFrame
matches_df = pd.DataFrame(matches_data, columns=[desc[0] for desc in cursor.description])

In [3]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,outcome,toss,city,venue
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,"{""by"": {""runs"": 177}, ""winner"": ""South Africa""}","{""decision"": ""bat"", ""winner"": ""South Africa""}","""Perth""","""Western Australia Cricket Association Ground"""
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,"{""by"": {""innings"": 1, ""runs"": 80}, ""winner"": ""...","{""decision"": ""field"", ""winner"": ""South Africa""}","""Hobart""","""Bellerive Oval"""
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,"{""by"": {""wickets"": 7}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""South Africa""}",null,"""Adelaide Oval"""
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,"{""by"": {""runs"": 39}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""Australia""}","""Brisbane""","""Brisbane Cricket Ground, Woolloongabba"""
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,"{""by"": {""innings"": 1, ""runs"": 18}, ""winner"": ""...","{""decision"": ""bat"", ""winner"": ""Pakistan""}",null,"""Melbourne Cricket Ground"""

In [4]:
def transform_dataframe(df):
    # 1. Change the start_date to datetime
    df['start_date'] = pd.to_datetime(df['start_date'])

    # 2. Split the toss field into toss_winner and toss_decision
    def extract_toss_details(toss):
        toss_data = json.loads(toss)  # Parse the JSON string to a dictionary
        return toss_data.get('winner'), toss_data.get('decision')
    
    df[['toss_winner', 'toss_decision']] = df['toss'].apply(lambda x: pd.Series(extract_toss_details(x)))

    # Drop the original toss column
    df.drop(columns=['toss'], inplace=True)

    # 3. Remove double quotes from the city and venue field
    df['city'] = df['city'].str.strip('"')
    df['venue'] = df['venue'].str.strip('"')

    return df

In [5]:
matches_df = transform_dataframe(matches_df)

In [6]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,outcome,city,venue,toss_winner,toss_decision
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,"{""by"": {""runs"": 177}, ""winner"": ""South Africa""}",Perth,Western Australia Cricket Association Ground,South Africa,bat
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,"{""by"": {""innings"": 1, ""runs"": 80}, ""winner"": ""...",Hobart,Bellerive Oval,South Africa,field
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,"{""by"": {""wickets"": 7}, ""winner"": ""Australia""}",null,Adelaide Oval,South Africa,bat
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,"{""by"": {""runs"": 39}, ""winner"": ""Australia""}",Brisbane,"Brisbane Cricket Ground, Woolloongabba",Australia,bat
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,"{""by"": {""innings"": 1, ""runs"": 18}, ""winner"": ""...",null,Melbourne Cricket Ground,Pakistan,bat

In [7]:
def process_outcome(outcome):
    # Initialize default values
    result = winner = runs = innings = wickets = method = None

    # Parse the JSON string to a dictionary
    outcome_data = json.loads(outcome)

    # Extract the common fields
    if 'result' in outcome_data:
        result = outcome_data['result']
    if 'winner' in outcome_data:
        winner = outcome_data['winner']
    if 'method' in outcome_data:
        method = outcome_data['method']
    if 'by' in outcome_data:
        by = outcome_data['by']
        if 'runs' in by:
            runs = by['runs']
        if 'innings' in by:
            innings = by['innings']
        if 'wickets' in by:
            wickets = by['wickets']

    return result, winner, runs, innings, wickets, method

# Apply the function to the outcome column and create new columns
matches_df[['result', 'winner', 'runs', 'innings', 'wickets', 'method']] = matches_df['outcome'].apply(
    lambda x: pd.Series(process_outcome(x))
)

# Drop the original outcome column
matches_df.drop(columns=['outcome'], inplace=True)

In [8]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,city,venue,toss_winner,toss_decision,result,winner,runs,innings,wickets,method
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,Perth,Western Australia Cricket Association Ground,South Africa,bat,None,South Africa,177.0,NaN,NaN,None
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,Hobart,Bellerive Oval,South Africa,field,None,South Africa,80.0,1.0,NaN,None
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,null,Adelaide Oval,South Africa,bat,None,Australia,NaN,NaN,7.0,None
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Australia,bat,None,Australia,39.0,NaN,NaN,None
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,null,Melbourne Cricket Ground,Pakistan,bat,None,Australia,18.0,1.0,NaN,None

In [9]:
def matches_per_team(teams_type):
    # Filter matches based on the provided team type
    filtered_matches = matches_df[matches_df['teams_type'] == teams_type]
    
    # Create a list of all teams involved in the filtered matches
    all_teams = pd.concat([filtered_matches['team_involved_one'], filtered_matches['team_involved_two']]).unique()
    
    # Initialize a dictionary to store the count of matches per team
    matches_per_team = {team: 0 for team in all_teams}
    
    # Update the matches count for each team
    for team in all_teams:
        matches_per_team[team] = ((filtered_matches['team_involved_one'] == team) | (filtered_matches['team_involved_two'] == team)).sum()
    
    # Sort the dictionary items by value in descending order
    matches_per_team_sorted = dict(sorted(matches_per_team.items(), key=lambda item: item[1], reverse=True))
    
    return matches_per_team_sorted

In [10]:
club_match_per_team = matches_per_team("club")
print(club_match_per_team)

{'Hampshire': 362, 'Nottinghamshire': 360, 'Somerset': 356, 'Essex': 355, 'Surrey': 354, 'Kent': 353, 'Worcestershire': 352, 'Lancashire': 351, 'Durham': 349, 'Gloucestershire': 348, 'Yorkshire': 347, 'Middlesex': 346, 'Northamptonshire': 345, 'Sussex': 345, 'Leicestershire': 342, 'Glamorgan': 339, 'Derbyshire': 337, 'Mumbai Indians': 280, 'Warwickshire': 274, 'Perth Scorchers': 265, 'Sydney Sixers': 261, 'Adelaide Strikers': 258, 'Brisbane Heat': 258, 'Royal Challengers Bangalore': 258, 'Melbourne Stars': 254, 'Kolkata Knight Riders': 251, 'Melbourne Renegades': 243, 'Hobart Hurricanes': 242, 'Sydney Thunder': 241, 'Chennai Super Kings': 238, 'Rajasthan Royals': 221, 'Canterbury': 203, 'Northern Districts': 199, 'Kings XI Punjab': 190, 'Sunrisers Hyderabad': 182, 'Delhi Daredevils': 161, 'Guyana Amazon Warriors': 127, 'Jamaica Tallawahs': 117, 'Otago': 117, 'Wellington': 115, 'Central Districts': 114, 'Auckland': 113, 'Southern Vipers': 111, 'Delhi Capitals': 109, 'Peshawar Zalmi': 103, 'Western Storm': 102, 'Trinbago Knight Riders': 101, 'Islamabad United': 100, 'Titans': 95, 'Warriors': 95, 'Lahore Qalandars': 94, 'Karachi Kings': 93, 'Quetta Gladiators': 92, 'St Kitts and Nevis Patriots': 91, 'Comilla Victorians': 90, 'Dolphins': 88, 'Lions': 88, 'Rangpur Riders': 88, 'Birmingham Bears': 87, 'Knights': 86, 'Otago Volts': 84, 'Central Stags': 82, 'Auckland Aces': 82, 'Wellington Firebirds': 81, 'Northern Knights': 78, 'Leinster Lightning': 78, 'Barbados Tridents': 78, 'Multan Sultans': 78, 'Cape Cobras': 75, 'Deccan Chargers': 75, 'South East Stars': 74, 'Northern Diamonds': 73, 'Central Sparks': 69, 'Sunrisers': 66, 'North-West Warriors': 64, 'Thunder': 64, 'Munster Reds': 56, 'Punjab Kings': 56, 'St Lucia Zouks': 55, 'Karnataka': 54, 'Dhaka Dynamites': 53, 'Baroda': 53, 'Punjab': 53, 'Mumbai': 53, 'Southern Brave': 53, 'Tasmania': 51, 'Queensland': 51, 'Chattogram Challengers': 51, 'South Australia': 49, 'New South Wales': 49, 'Delhi': 49, 'Khulna Tigers': 49, 'Victoria': 48, 'Tamil Nadu': 48, 'Oval Invincibles': 47, 'Western Australia': 46, 'Uttar Pradesh': 46, 'Welsh Fire': 46, 'Birmingham Phoenix': 46, 'Northern Superchargers': 46, 'Trent Rockets': 46, 'Manchester Originals': 46, 'Pune Warriors': 46, 'Gujarat Titans': 45, 'Chittagong Vikings': 44, 'Gujarat': 44, 'Vidarbha': 44, 'London Spirit': 44, 'Lucknow Super Giants': 44, 'Railways': 42, 'Bengal': 42, 'Saurashtra': 40, 'Maharashtra': 40, 'Haryana': 40, 'The Blaze': 40, 'Kerala': 39, 'Barbados Royals': 39, 'Fortune Barishal': 39, 'Rajshahi Kings': 38, 'Madhya Pradesh': 38, 'Khulna Titans': 37, 'Tripura': 37, 'Hyderabad (India)': 37, 'Goa': 37, 'Assam': 37, 'Jharkhand': 37, 'Rajasthan': 36, 'Andhra': 36, 'Loughborough Lightning': 33, 'St Lucia Kings': 32, 'Surrey Stars': 31, 'Jammu & Kashmir': 31, 'Chhattisgarh': 31, 'Services': 31, 'Gujarat Lions': 30, 'Lightning': 30, 'Jaffna Kings': 30, 'Trinidad & Tobago Red Steel': 30, 'Lancashire Thunder': 29, 'Himachal': 29, 'Mizoram': 29, 'Galle Gladiators': 29, 'Yorkshire Diamonds': 28, 'Odisha': 27, 'Puducherry': 26, 'Manipur': 26, 'Uttarakhand': 26, 'Sylhet Strikers': 26, 'Barisal Bulls': 25, 'Nagaland': 25, 'Meghalaya': 25, 'Bihar': 24, 'Dubai Capitals': 24, 'Sylhet Sixers': 23, 'Arunachal Pradesh': 23, "Durban's Super Giants": 23, 'Sunrisers Eastern Cape': 23, 'MI Emirates': 23, 'Gulf Giants': 23, 'Paarl Royals': 22, 'Joburg Super Kings': 22, 'Pretoria Capitals': 22, 'Desert Vipers': 22, 'Sikkim': 21, 'Nelson Mandela Bay Giants': 20, 'Paarl Rocks': 20, 'Colombo Stars': 20, 'MI Cape Town': 20, 'Abu Dhabi Knight Riders': 20, 'Sharjah Warriors': 20, 'St Lucia Stars': 19, 'Cape Town Blitz': 19, 'Tshwane Spartans': 19, 'Barisal Burners': 19, 'Jozi Stars': 18, 'Dambulla Aura': 18, 'Duronto Rajshahi': 18, 'Boland': 17, 'UP Warriorz': 17, 'Dhaka Gladiators': 17, 'Rising Pune Supergiant': 16, 'Durban Heat': 16, 'Gujarat Giants': 16, 'Khulna Royal Bengals': 16, 'Rajshahi Royals': 15, 'North West': 15, 'Western Province': 15, 'Royal Challengers Bengaluru': 15, 'Sylhet Royals': 15, 'Chittagong Kings': 15, 'Antigua Hawksbills': 15, 'Barmy Army': 14, 'Spirit': 14, 'Falcons': 14, 'Kochi Tuskers Kerala': 14, 'Rising Pune Supergiants': 14, 'Chandigarh': 13, 'Dhaka Platoon': 13, 'Tornadoes': 13, 'Sylhet Thunder': 12, 'Cumilla Warriors': 12, 'Rangpur Rangers': 12, 'Dhaka Dominators': 12, 'Durdanto Dhaka': 12, 'Sapphires': 11, 'B-Love Kandy': 11, 'Kabul Zwanan': 10, 'Balkh Legends': 10, 'Supernovas': 10, 'Jaffna Stallions': 10, 'Dambulla Giants': 10, 'Kandy Falcons': 10, 'North West Warriors': 10, 'Galle Titans': 10, 'Jamaica': 10, 'Paktia Panthers': 9, 'Nangarhar Leopards': 9, 'Dambulla Viiking': 9, 'Colombo Kings': 9, 'Minister Group Dhaka': 9, 'Sylhet Sunrisers': 9, 'Sylhet Super Stars': 9, 'Barbados': 9, 'Windward Islands': 9, 'Trailblazers': 8, 'Kandahar Knights': 8, 'Velocity': 8, 'Kandy Tuskers': 8, 'Kandy Warriors': 8, 'MI New York': 8, 'Colombo Strikers': 8, 'Impi': 8, 'Guyana': 8, 'Leeward Islands': 8, 'Texas Super Kings': 7, 'Seattle Orcas': 7, 'Washington Freedom': 6, 'Trinidad and Tobago': 6, 'Warriors (FairBreak)': 5, 'Himachal Pradesh': 5, 'San Francisco Unicorns': 5, 'Los Angeles Knight Riders': 5, 'KwaZulu-Natal Inland': 1}

In [11]:
def matches_per_team(teams_type, matches_df):
    # Filter matches based on the provided team type
    filtered_matches = matches_df[matches_df['teams_type'] == teams_type]
    
    # Create a list of all teams involved in the filtered matches
    all_teams = pd.concat([filtered_matches['team_involved_one'], filtered_matches['team_involved_two']]).unique()
    
    # Initialize a dictionary to store the count of matches per team
    matches_per_team = {team: 0 for team in all_teams}
    
    # Update the matches count for each team
    for team in all_teams:
        matches_per_team[team] = ((filtered_matches['team_involved_one'] == team) | (filtered_matches['team_involved_two'] == team)).sum()
    
    # Sort the dictionary items by value in descending order
    matches_per_team_sorted = dict(sorted(matches_per_team.items(), key=lambda item: item[1], reverse=True))
    
    return matches_per_team_sorted

# Generate the list of club names dynamically
clubs = list(matches_per_team("club", matches_df).keys())
print(clubs)

['Hampshire', 'Nottinghamshire', 'Somerset', 'Essex', 'Surrey', 'Kent', 'Worcestershire', 'Lancashire', 'Durham', 'Gloucestershire', 'Yorkshire', 'Middlesex', 'Northamptonshire', 'Sussex', 'Leicestershire', 'Glamorgan', 'Derbyshire', 'Mumbai Indians', 'Warwickshire', 'Perth Scorchers', 'Sydney Sixers', 'Adelaide Strikers', 'Brisbane Heat', 'Royal Challengers Bangalore', 'Melbourne Stars', 'Kolkata Knight Riders', 'Melbourne Renegades', 'Hobart Hurricanes', 'Sydney Thunder', 'Chennai Super Kings', 'Rajasthan Royals', 'Canterbury', 'Northern Districts', 'Kings XI Punjab', 'Sunrisers Hyderabad', 'Delhi Daredevils', 'Guyana Amazon Warriors', 'Jamaica Tallawahs', 'Otago', 'Wellington', 'Central Districts', 'Auckland', 'Southern Vipers', 'Delhi Capitals', 'Peshawar Zalmi', 'Western Storm', 'Trinbago Knight Riders', 'Islamabad United', 'Titans', 'Warriors', 'Lahore Qalandars', 'Karachi Kings', 'Quetta Gladiators', 'St Kitts and Nevis Patriots', 'Comilla Victorians', 'Dolphins', 'Lions', 'Rangpur Riders', 'Birmingham Bears', 'Knights', 'Otago Volts', 'Central Stags', 'Auckland Aces', 'Wellington Firebirds', 'Northern Knights', 'Leinster Lightning', 'Barbados Tridents', 'Multan Sultans', 'Cape Cobras', 'Deccan Chargers', 'South East Stars', 'Northern Diamonds', 'Central Sparks', 'Sunrisers', 'North-West Warriors', 'Thunder', 'Munster Reds', 'Punjab Kings', 'St Lucia Zouks', 'Karnataka', 'Dhaka Dynamites', 'Baroda', 'Punjab', 'Mumbai', 'Southern Brave', 'Tasmania', 'Queensland', 'Chattogram Challengers', 'South Australia', 'New South Wales', 'Delhi', 'Khulna Tigers', 'Victoria', 'Tamil Nadu', 'Oval Invincibles', 'Western Australia', 'Uttar Pradesh', 'Welsh Fire', 'Birmingham Phoenix', 'Northern Superchargers', 'Trent Rockets', 'Manchester Originals', 'Pune Warriors', 'Gujarat Titans', 'Chittagong Vikings', 'Gujarat', 'Vidarbha', 'London Spirit', 'Lucknow Super Giants', 'Railways', 'Bengal', 'Saurashtra', 'Maharashtra', 'Haryana', 'The Blaze', 'Kerala', 'Barbados Royals', 'Fortune Barishal', 'Rajshahi Kings', 'Madhya Pradesh', 'Khulna Titans', 'Tripura', 'Hyderabad (India)', 'Goa', 'Assam', 'Jharkhand', 'Rajasthan', 'Andhra', 'Loughborough Lightning', 'St Lucia Kings', 'Surrey Stars', 'Jammu & Kashmir', 'Chhattisgarh', 'Services', 'Gujarat Lions', 'Lightning', 'Jaffna Kings', 'Trinidad & Tobago Red Steel', 'Lancashire Thunder', 'Himachal', 'Mizoram', 'Galle Gladiators', 'Yorkshire Diamonds', 'Odisha', 'Puducherry', 'Manipur', 'Uttarakhand', 'Sylhet Strikers', 'Barisal Bulls', 'Nagaland', 'Meghalaya', 'Bihar', 'Dubai Capitals', 'Sylhet Sixers', 'Arunachal Pradesh', "Durban's Super Giants", 'Sunrisers Eastern Cape', 'MI Emirates', 'Gulf Giants', 'Paarl Royals', 'Joburg Super Kings', 'Pretoria Capitals', 'Desert Vipers', 'Sikkim', 'Nelson Mandela Bay Giants', 'Paarl Rocks', 'Colombo Stars', 'MI Cape Town', 'Abu Dhabi Knight Riders', 'Sharjah Warriors', 'St Lucia Stars', 'Cape Town Blitz', 'Tshwane Spartans', 'Barisal Burners', 'Jozi Stars', 'Dambulla Aura', 'Duronto Rajshahi', 'Boland', 'UP Warriorz', 'Dhaka Gladiators', 'Rising Pune Supergiant', 'Durban Heat', 'Gujarat Giants', 'Khulna Royal Bengals', 'Rajshahi Royals', 'North West', 'Western Province', 'Royal Challengers Bengaluru', 'Sylhet Royals', 'Chittagong Kings', 'Antigua Hawksbills', 'Barmy Army', 'Spirit', 'Falcons', 'Kochi Tuskers Kerala', 'Rising Pune Supergiants', 'Chandigarh', 'Dhaka Platoon', 'Tornadoes', 'Sylhet Thunder', 'Cumilla Warriors', 'Rangpur Rangers', 'Dhaka Dominators', 'Durdanto Dhaka', 'Sapphires', 'B-Love Kandy', 'Kabul Zwanan', 'Balkh Legends', 'Supernovas', 'Jaffna Stallions', 'Dambulla Giants', 'Kandy Falcons', 'North West Warriors', 'Galle Titans', 'Jamaica', 'Paktia Panthers', 'Nangarhar Leopards', 'Dambulla Viiking', 'Colombo Kings', 'Minister Group Dhaka', 'Sylhet Sunrisers', 'Sylhet Super Stars', 'Barbados', 'Windward Islands', 'Trailblazers', 'Kandahar Knights', 'Velocity', 'Kandy Tuskers', 'Kandy Warriors', 'MI New York', 'Colombo Strikers', 'Impi', 'Guyana', 'Leeward Islands', 'Texas Super Kings', 'Seattle Orcas', 'Washington Freedom', 'Trinidad and Tobago', 'Warriors (FairBreak)', 'Himachal Pradesh', 'San Francisco Unicorns', 'Los Angeles Knight Riders', 'KwaZulu-Natal Inland']

In [12]:
from fuzzywuzzy import process

def find_potential_matches(clubs, threshold=85):
    potential_matches = {}
    for club in clubs:
        matches = process.extract(club, clubs, limit=None)
        potential_matches[club] = [match[0] for match in matches if match[1] >= threshold and match[0] != club]
    return potential_matches

potential_matches = find_potential_matches(clubs)
for club, matches in potential_matches.items():
    if matches:
        print(f"{club}: {matches}")

Hampshire: ['Nottinghamshire']
Nottinghamshire: ['Hampshire']
Surrey: ['Surrey Stars']
Lancashire: ['Lancashire Thunder']
Yorkshire: ['Yorkshire Diamonds']
Mumbai Indians: ['Mumbai']
Royal Challengers Bangalore: ['Royal Challengers Bengaluru']
Melbourne Stars: ['Jozi Stars']
Kolkata Knight Riders: ['Rangpur Riders']
Sydney Thunder: ['Thunder']
Chennai Super Kings: ['Punjab Kings', 'Jaffna Kings']
Rajasthan Royals: ['Rajasthan']
Kings XI Punjab: ['Punjab Kings', 'Punjab']
Sunrisers Hyderabad: ['Sunrisers']
Delhi Daredevils: ['Delhi']
Guyana Amazon Warriors: ['Warriors', 'Guyana', 'Pune Warriors', 'Kandy Warriors']
Jamaica Tallawahs: ['Jamaica']
Otago: ['Otago Volts']
Wellington: ['Wellington Firebirds']
Auckland: ['Auckland Aces']
Delhi Capitals: ['Delhi']
Trinbago Knight Riders: ['Rangpur Riders']
Titans: ['Gujarat Titans', 'Khulna Titans', 'Galle Titans']
Warriors: ['Guyana Amazon Warriors', 'North-West Warriors', 'Pune Warriors', 'Sharjah Warriors', 'Cumilla Warriors', 'North West Warriors', 'Kandy Warriors', 'Warriors (FairBreak)']
St Kitts and Nevis Patriots: ['St Lucia Zouks', 'St Lucia Kings', 'St Lucia Stars']
Comilla Victorians: ['Victoria']
Lions: ['Gujarat Lions', 'Jaffna Stallions']
Rangpur Riders: ['Kolkata Knight Riders', 'Trinbago Knight Riders', 'Abu Dhabi Knight Riders', 'Los Angeles Knight Riders']
Knights: ['Northern Knights', 'Kandahar Knights']
Otago Volts: ['Otago']
Auckland Aces: ['Auckland']
Wellington Firebirds: ['Wellington']
Northern Knights: ['Knights']
Leinster Lightning: ['Lightning']
Barbados Tridents: ['Barbados']
Cape Cobras: ['Sunrisers Eastern Cape']
South East Stars: ['Jozi Stars']
Sunrisers: ['Sunrisers Hyderabad', 'Sunrisers Eastern Cape', 'Sylhet Sunrisers']
North-West Warriors: ['North West Warriors', 'Warriors', 'North West']
Thunder: ['Sydney Thunder', 'Lancashire Thunder', 'Sylhet Thunder']
Punjab Kings: ['Kings XI Punjab', 'Punjab', 'Chennai Super Kings', 'Joburg Super Kings']
St Lucia Zouks: ['St Kitts and Nevis Patriots']
Punjab: ['Kings XI Punjab', 'Punjab Kings']
Mumbai: ['Mumbai Indians']
Delhi: ['Delhi Daredevils', 'Delhi Capitals']
Khulna Tigers: ['Khulna Royal Bengals']
Victoria: ['Comilla Victorians']
Pune Warriors: ['Warriors', 'Guyana Amazon Warriors', 'Rising Pune Supergiant', 'Rising Pune Supergiants']
Gujarat Titans: ['Titans', 'Gujarat', 'Gujarat Giants']
Chittagong Vikings: ['Chittagong Kings']
Gujarat: ['Gujarat Titans', 'Gujarat Lions', 'Gujarat Giants']
London Spirit: ['Spirit']
Lucknow Super Giants: ['Gulf Giants']
Bengal: ['Khulna Royal Bengals', 'Royal Challengers Bengaluru']
Kerala: ['Kochi Tuskers Kerala']
Barbados Royals: ['Barbados']
Khulna Titans: ['Titans', 'Khulna Royal Bengals']
Rajasthan: ['Rajasthan Royals']
Loughborough Lightning: ['Lightning']
St Lucia Kings: ['St Kitts and Nevis Patriots']
Surrey Stars: ['Surrey', 'Sylhet Super Stars']
Gujarat Lions: ['Lions', 'Gujarat']
Lightning: ['Leinster Lightning', 'Loughborough Lightning']
Jaffna Kings: ['Chennai Super Kings', 'Joburg Super Kings']
Lancashire Thunder: ['Lancashire', 'Thunder']
Himachal: ['Himachal Pradesh']
Yorkshire Diamonds: ['Yorkshire']
Sylhet Strikers: ['Sylhet Sixers']
Sylhet Sixers: ['Sylhet Strikers']
Durban's Super Giants: ['Gulf Giants', 'Durban Heat', 'Gujarat Giants']
Sunrisers Eastern Cape: ['Sunrisers', 'Cape Cobras', 'MI Cape Town']
Gulf Giants: ['Lucknow Super Giants', "Durban's Super Giants", 'Nelson Mandela Bay Giants']
Joburg Super Kings: ['Punjab Kings', 'Jaffna Kings']
Nelson Mandela Bay Giants: ['Gulf Giants', 'Gujarat Giants', 'Dambulla Giants']
MI Cape Town: ['Sunrisers Eastern Cape']
Abu Dhabi Knight Riders: ['Rangpur Riders']
Sharjah Warriors: ['Warriors']
St Lucia Stars: ['St Kitts and Nevis Patriots']
Jozi Stars: ['Melbourne Stars', 'South East Stars', 'Sylhet Super Stars']
Rising Pune Supergiant: ['Rising Pune Supergiants', 'Pune Warriors']
Durban Heat: ["Durban's Super Giants"]
Gujarat Giants: ['Gujarat', 'Gujarat Titans', "Durban's Super Giants", 'Nelson Mandela Bay Giants']
Khulna Royal Bengals: ['Bengal', 'Khulna Tigers', 'Khulna Titans']
North West: ['North-West Warriors', 'North West Warriors']
Royal Challengers Bengaluru: ['Bengal', 'Royal Challengers Bangalore']
Chittagong Kings: ['Chittagong Vikings']
Spirit: ['London Spirit']
Falcons: ['Kandy Falcons']
Kochi Tuskers Kerala: ['Kerala', 'Kandy Tuskers']
Rising Pune Supergiants: ['Rising Pune Supergiant', 'Pune Warriors']
Dhaka Platoon: ['Minister Group Dhaka']
Sylhet Thunder: ['Thunder']
Cumilla Warriors: ['Warriors']
Jaffna Stallions: ['Lions']
Dambulla Giants: ['Nelson Mandela Bay Giants']
Kandy Falcons: ['Falcons']
North West Warriors: ['North-West Warriors', 'Warriors', 'North West']
Galle Titans: ['Titans']
Jamaica: ['Jamaica Tallawahs']
Minister Group Dhaka: ['Dhaka Platoon']
Sylhet Sunrisers: ['Sunrisers']
Sylhet Super Stars: ['Surrey Stars', 'Jozi Stars']
Barbados: ['Barbados Tridents', 'Barbados Royals']
Kandahar Knights: ['Knights']
Kandy Tuskers: ['Kochi Tuskers Kerala']
Kandy Warriors: ['Warriors', 'Guyana Amazon Warriors']
Guyana: ['Guyana Amazon Warriors']
Warriors (FairBreak): ['Warriors']
Himachal Pradesh: ['Himachal']
Los Angeles Knight Riders: ['Rangpur Riders']

In [13]:
# Connect to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="cricket_data"
)

# Define the query to select all columns from the matches table
query = """SELECT matches.match_id, matches.gender, matches.start_date, matches.teams_type,
matches.match_type, matches.team_involved_one, matches.team_involved_two, info_section.outcome,
info_section.toss, info_section.city, info_section.venue
FROM matches JOIN
info_section ON
matches.match_id = info_section.match_id;"""

# Execute the query and fetch the results
cursor = connection.cursor()
cursor.execute(query)
matches_data = cursor.fetchall()

# Close the cursor and connection
cursor.close()
connection.close()

# Convert the fetched data to a pandas DataFrame
matches_df = pd.DataFrame(matches_data, columns=[desc[0] for desc in cursor.description])

In [14]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,outcome,toss,city,venue
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,"{""by"": {""runs"": 177}, ""winner"": ""South Africa""}","{""decision"": ""bat"", ""winner"": ""South Africa""}","""Perth""","""Western Australia Cricket Association Ground"""
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,"{""by"": {""innings"": 1, ""runs"": 80}, ""winner"": ""...","{""decision"": ""field"", ""winner"": ""South Africa""}","""Hobart""","""Bellerive Oval"""
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,"{""by"": {""wickets"": 7}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""South Africa""}",null,"""Adelaide Oval"""
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,"{""by"": {""runs"": 39}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""Australia""}","""Brisbane""","""Brisbane Cricket Ground, Woolloongabba"""
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,"{""by"": {""innings"": 1, ""runs"": 18}, ""winner"": ""...","{""decision"": ""bat"", ""winner"": ""Pakistan""}",null,"""Melbourne Cricket Ground"""

In [15]:
# Step 2: Define the Function
def get_unique_teams_by_match_type(matches_df):
    unique_teams_by_match_type = {}
    
    for match_type in matches_df['match_type'].unique():
        # Filter DataFrame for the current match type
        filtered_df = matches_df[matches_df['match_type'] == match_type]
        
        # Extract unique team names from both columns
        unique_teams = set(filtered_df['team_involved_one']).union(set(filtered_df['team_involved_two']))
        
        # Assign the unique team names to the dictionary
        unique_teams_by_match_type[match_type] = unique_teams
        
    return unique_teams_by_match_type

# Step 3: Get the Unique Teams by Match Type
unique_teams_by_match_type = get_unique_teams_by_match_type(matches_df)

# Step 4: Print the Results
for match_type, teams in unique_teams_by_match_type.items():
    print(f"{match_type}: {teams}")

Test: {'New Zealand', 'West Indies', 'India', 'South Africa', 'ICC World XI', 'Pakistan', 'Australia', 'Sri Lanka', 'Ireland', 'England', 'Zimbabwe', 'Afghanistan', 'Bangladesh'}
ODI: {'West Indies', 'Scotland', 'Hong Kong', 'Thailand', 'Nepal', 'Pakistan', 'Australia', 'Ireland', 'Sri Lanka', 'Africa XI', 'England', 'New Zealand', 'Jersey', 'Papua New Guinea', 'Asia XI', 'United Arab Emirates', 'Canada', 'India', 'Namibia', 'United States of America', 'South Africa', 'ICC World XI', 'Oman', 'Bermuda', 'Kenya', 'Netherlands', 'Zimbabwe', 'Afghanistan', 'Bangladesh'}
T20: {'Swaziland', 'Kuwait', 'Belize', 'Estonia', 'Myanmar', 'Costa Rica', 'Hong Kong', 'Malaysia', 'Lesotho', 'Gambia', 'Pakistan', 'South Korea', 'Portugal', 'Mali', 'Serbia', 'Denmark', 'Seychelles', 'Mexico', 'England', 'Switzerland', 'Spain', 'Jersey', 'Indonesia', 'Bahrain', 'Fiji', 'Sierra Leone', 'Cook Islands', 'United Arab Emirates', 'India', 'Nigeria', 'Croatia', 'Hungary', 'Bhutan', 'Eswatini', 'Panama', 'Austria', 'Scotland', 'Saudi Arabia', 'Rwanda', 'St Helena', 'Cayman Islands', 'Ghana', 'Slovenia', 'Norway', 'Isle of Man', 'Maldives', 'Brazil', 'Tanzania', 'Japan', 'Iran', 'Canada', 'Argentina', 'Namibia', 'South Africa', 'Bermuda', 'Malawi', 'Turkey', 'Zimbabwe', 'Mozambique', 'West Indies', 'Czech Republic', 'Cyprus', 'Philippines', 'Barbados', 'Thailand', 'Nepal', 'Bahamas', 'Australia', 'Sri Lanka', 'China', 'Belgium', 'Malta', 'Gibraltar', 'Bulgaria', 'Italy', 'New Zealand', 'Israel', 'United States of America', 'Vanuatu', 'Singapore', 'Finland', 'Oman', 'Cambodia', 'France', 'Afghanistan', 'Luxembourg', 'Samoa', 'Qatar', 'Germany', 'Romania', 'Uganda', 'Ireland', 'Guernsey', 'Papua New Guinea', 'Botswana', 'Greece', 'Chile', 'ICC World XI', 'Mongolia', 'Kenya', 'Sweden', 'Netherlands', 'Cameroon', 'Bangladesh'}
IPO: {'Leinster Lightning', 'North-West Warriors', 'Northern Knights', 'Munster Reds'}
IPT: {'Leinster Lightning', 'North-West Warriors', 'Northern Knights', 'Munster Reds', 'North West Warriors'}
CTC: {'Cape Cobras', 'Western Province', 'Boland', 'Impi', 'Warriors', 'North West', 'KwaZulu-Natal Inland', 'Titans', 'Dolphins', 'Lions', 'Knights'}
MDM: {'Papua New Guinea', 'Scotland', 'United Arab Emirates', 'Canada', 'Namibia', 'Hong Kong', 'Bermuda', 'Kenya', 'Ireland', 'Netherlands', 'Afghanistan'}
ODM: {'West Indies', 'Kuwait', 'Philippines', 'Hong Kong', 'Thailand', 'Nepal', 'Malaysia', 'Pakistan', 'Bahamas', 'Sri Lanka', 'Denmark', 'China', 'Belgium', 'Italy', 'Jersey', 'Indonesia', 'Bahrain', 'Fiji', 'Zambia', 'Sierra Leone', 'United Arab Emirates', 'India', 'Nigeria', 'United States of America', 'Vanuatu', 'Singapore', 'Oman', 'Bhutan', 'France', 'Afghanistan', 'Austria', 'Samoa', 'Qatar', 'Scotland', 'Germany', 'Saudi Arabia', 'Suriname', 'Cayman Islands', 'Uganda', 'Ireland', 'Ghana', 'Guernsey', 'Norway', 'Papua New Guinea', 'Maldives', 'Botswana', 'Tanzania', 'Japan', 'Canada', 'Argentina', 'Namibia', 'South Africa', 'Bermuda', 'Kenya', 'Sweden', 'Netherlands', 'Zimbabwe', 'Bangladesh'}
CPL: {'Jamaica Tallawahs', 'Trinbago Knight Riders', 'St Lucia Kings', 'Antigua Hawksbills', 'St Kitts and Nevis Patriots', 'Barbados Royals', 'Guyana Amazon Warriors', 'Trinidad & Tobago Red Steel', 'St Lucia Zouks', 'St Lucia Stars', 'Barbados Tridents'}
BBL: {'Melbourne Renegades', 'Adelaide Strikers', 'Sydney Sixers', 'Brisbane Heat', 'Melbourne Stars', 'Perth Scorchers', 'Sydney Thunder', 'Hobart Hurricanes'}
WBB: {'Melbourne Renegades', 'Adelaide Strikers', 'Sydney Sixers', 'Brisbane Heat', 'Melbourne Stars', 'Perth Scorchers', 'Sydney Thunder', 'Hobart Hurricanes'}
WSL: {'Southern Vipers', 'Surrey Stars', 'Lancashire Thunder', 'Loughborough Lightning', 'Western Storm', 'Yorkshire Diamonds'}
SSH: {'Victoria', 'Tasmania', 'Queensland', 'South Australia', 'Western Australia', 'New South Wales'}
IT20: {'Mozambique', 'Swaziland', 'Czech Republic', 'Kuwait', 'Belize', 'Myanmar', 'Cyprus', 'Philippines', 'Hong Kong', 'Thailand', 'Malaysia', 'Nepal', 'Gambia', 'Lesotho', 'Pakistan', 'South Korea', 'Portugal', 'Bahamas', 'Sri Lanka', 'China', 'Denmark', 'Belgium', 'Gibraltar', 'Italy', 'Spain', 'Jersey', 'Bahrain', 'Indonesia', 'Fiji', 'Sierra Leone', 'Israel', 'United Arab Emirates', 'Nigeria', 'United States of America', 'Vanuatu', 'Singapore', 'Finland', 'Oman', 'Bhutan', 'France', 'Afghanistan', 'Panama', 'Austria', 'Samoa', 'Qatar', 'Netherlands', 'Scotland', 'Germany', 'Saudi Arabia', 'Rwanda', 'St Helena', 'Cayman Islands', 'Uganda', 'Ireland', 'Ghana', 'Guernsey', 'Norway', 'Isle of Man', 'Papua New Guinea', 'Maldives', 'Botswana', 'Tanzania', 'Japan', 'Canada', 'Argentina', 'Namibia', 'Bermuda', 'Kenya', 'Sweden', 'Malawi', 'Zimbabwe', 'Bangladesh'}
PKS: {'Otago Volts', 'Canterbury', 'Auckland Aces', 'Central Stags', 'Northern Districts', 'Wellington Firebirds'}
BPL: {'Comilla Victorians', 'Chittagong Vikings', 'Sylhet Thunder', 'Barisal Burners', 'Sylhet Sixers', 'Cumilla Warriors', 'Rajshahi Kings', 'Barisal Bulls', 'Sylhet Strikers', 'Fortune Barishal', 'Durdanto Dhaka', 'Dhaka Platoon', 'Sylhet Sunrisers', 'Khulna Royal Bengals', 'Rajshahi Royals', 'Minister Group Dhaka', 'Rangpur Riders', 'Khulna Tigers', 'Dhaka Dominators', 'Rangpur Rangers', 'Khulna Titans', 'Duronto Rajshahi', 'Sylhet Super Stars', 'Sylhet Royals', 'Chattogram Challengers', 'Dhaka Gladiators', 'Chittagong Kings', 'Dhaka Dynamites'}
NTB: {'Nottinghamshire', 'Surrey', 'Leicestershire', 'Middlesex', 'Glamorgan', 'Essex', 'Warwickshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Birmingham Bears', 'Derbyshire', 'Somerset', 'Hampshire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
RLC: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
CCH: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
PSL: {'Islamabad United', 'Quetta Gladiators', 'Multan Sultans', 'Peshawar Zalmi', 'Karachi Kings', 'Lahore Qalandars'}
IPL: {'Punjab Kings', 'Delhi Capitals', 'Rising Pune Supergiants', 'Mumbai Indians', 'Delhi Daredevils', 'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Chennai Super Kings', 'Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants', 'Royal Challengers Bengaluru', 'Royal Challengers Bangalore', 'Pune Warriors', 'Kings XI Punjab', 'Deccan Chargers', 'Kochi Tuskers Kerala', 'Gujarat Lions', 'Rising Pune Supergiant'}
SSM: {'Wellington', 'Auckland', 'Central Districts', 'Canterbury', 'Northern Districts', 'Otago'}
SMA: {'Bengal', 'Himachal', 'Jharkhand', 'Rajasthan', 'Goa', 'Railways', 'Chhattisgarh', 'Assam', 'Sikkim', 'Tamil Nadu', 'Nagaland', 'Tripura', 'Gujarat', 'Kerala', 'Manipur', 'Jammu & Kashmir', 'Mumbai', 'Madhya Pradesh', 'Himachal Pradesh', 'Saurashtra', 'Meghalaya', 'Baroda', 'Andhra', 'Bihar', 'Vidarbha', 'Services', 'Uttar Pradesh', 'Hyderabad (India)', 'Maharashtra', 'Mizoram', 'Haryana', 'Arunachal Pradesh', 'Odisha', 'Punjab', 'Delhi', 'Karnataka', 'Uttarakhand', 'Puducherry', 'Chandigarh'}
WTC: {'Supernovas', 'Trailblazers', 'Velocity'}
APL: {'Kandahar Knights', 'Kabul Zwanan', 'Paktia Panthers', 'Nangarhar Leopards', 'Balkh Legends'}
MSL: {'Tshwane Spartans', 'Nelson Mandela Bay Giants', 'Jozi Stars', 'Cape Town Blitz', 'Durban Heat', 'Paarl Rocks'}
BWT: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
RHF: {'Southern Vipers', 'Thunder', 'South East Stars', 'Sunrisers', 'Northern Diamonds', 'Western Storm', 'Central Sparks', 'Lightning', 'The Blaze'}
LPL: {'Galle Titans', 'Dambulla Aura', 'Colombo Stars', 'B-Love Kandy', 'Kandy Warriors', 'Jaffna Stallions', 'Jaffna Kings', 'Colombo Kings', 'Dambulla Giants', 'Kandy Tuskers', 'Dambulla Viiking', 'Colombo Strikers', 'Galle Gladiators', 'Kandy Falcons'}
CEC: {'Southern Vipers', 'Thunder', 'South East Stars', 'Sunrisers', 'Northern Diamonds', 'Western Storm', 'Central Sparks', 'Lightning', 'The Blaze'}
HND: {'Oval Invincibles', 'Welsh Fire', 'London Spirit', 'Manchester Originals', 'Northern Superchargers', 'Southern Brave', 'Trent Rockets', 'Birmingham Phoenix'}
FRB: {'Barmy Army', 'Warriors', 'Warriors (FairBreak)', 'Spirit', 'Falcons', 'Tornadoes', 'Sapphires'}
WCL: {'Barbados Royals', 'Guyana Amazon Warriors', 'Trinbago Knight Riders'}
SAT: {"Durban's Super Giants", 'Pretoria Capitals', 'Sunrisers Eastern Cape', 'MI Cape Town', 'Paarl Royals', 'Joburg Super Kings'}
ILT: {'MI Emirates', 'Abu Dhabi Knight Riders', 'Dubai Capitals', 'Sharjah Warriors', 'Gulf Giants', 'Desert Vipers'}
WPL: {'UP Warriorz', 'Delhi Capitals', 'Gujarat Giants', 'Mumbai Indians', 'Royal Challengers Bangalore'}
MLC: {'Washington Freedom', 'MI New York', 'San Francisco Unicorns', 'Texas Super Kings', 'Seattle Orcas', 'Los Angeles Knight Riders'}
BLZ: {'Trinidad and Tobago', 'Guyana', 'Leeward Islands', 'Jamaica', 'Barbados', 'Windward Islands'}
SFT: {'Trinidad and Tobago', 'Guyana', 'Leeward Islands', 'Jamaica', 'Barbados', 'Windward Islands'}

In [16]:
from fuzzywuzzy import process

def find_similar_names_per_match_type(unique_teams_by_match_type, threshold=60):
    similar_names_by_match_type = {}

    for match_type, teams in unique_teams_by_match_type.items():
        teams_list = list(teams)
        potential_matches = {}
        
        for team in teams_list:
            matches = process.extract(team, teams_list, limit=None)
            similar_teams = [match[0] for match in matches if match[1] >= threshold and match[0] != team]
            if similar_teams:
                potential_matches[team] = similar_teams
        
        if potential_matches:
            similar_names_by_match_type[match_type] = potential_matches

    return similar_names_by_match_type

# Execute the function
similar_names_per_match_type = find_similar_names_per_match_type(unique_teams_by_match_type)

# Print the results
for match_type, similar_names in similar_names_per_match_type.items():
    print(f"{match_type}:")
    for team, matches in similar_names.items():
        print(f"  {team}: {matches}")

Test:
  New Zealand: ['Ireland', 'England']
  West Indies: ['India']
  India: ['West Indies']
  Pakistan: ['Afghanistan']
  Ireland: ['England', 'New Zealand']
  England: ['Ireland', 'New Zealand']
  Afghanistan: ['Pakistan']
ODI:
  West Indies: ['India']
  Scotland: ['Thailand']
  Thailand: ['Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Pakistan: ['Afghanistan']
  Ireland: ['England', 'Thailand', 'New Zealand', 'Netherlands']
  Africa XI: ['South Africa', 'Asia XI']
  England: ['Ireland', 'New Zealand', 'Netherlands']
  New Zealand: ['Ireland', 'England', 'Netherlands']
  Papua New Guinea: ['Nepal']
  Asia XI: ['ICC World XI', 'Africa XI']
  United Arab Emirates: ['United States of America']
  India: ['West Indies']
  United States of America: ['United Arab Emirates', 'South Africa']
  South Africa: ['Africa XI', 'United States of America']
  ICC World XI: ['Asia XI']
  Netherlands: ['Ireland', 'England', 'New Zealand', 'Thailand']
  Afghanistan: ['Pakistan']
T20:
  Swaziland: ['Thailand', 'Switzerland', 'Iran', 'Finland', 'Ireland', 'Cayman Islands', 'Brazil', 'New Zealand']
  Belize: ['Belgium']
  Estonia: ['Eswatini', 'Slovenia']
  Myanmar: ['Panama']
  Costa Rica: ['South Africa']
  Malaysia: ['Malta', 'Malawi', 'Mali']
  Gambia: ['Namibia', 'Cambodia', 'Saudi Arabia', 'Iran', 'Mozambique']
  Pakistan: ['Afghanistan', 'Spain']
  South Korea: ['South Africa']
  Mali: ['Malawi', 'Malaysia', 'Maldives', 'Australia', 'Romania', 'Malta']
  Serbia: ['Nigeria', 'Austria', 'Sierra Leone', 'Saudi Arabia', 'Sri Lanka', 'United States of America']
  Mexico: ['United States of America']
  England: ['Finland', 'Ireland', 'Switzerland', 'New Zealand', 'Netherlands', 'Uganda']
  Switzerland: ['Swaziland', 'England', 'Iran', 'Ireland', 'Rwanda', 'New Zealand', 'Netherlands', 'Scotland']
  Spain: ['Pakistan', 'Eswatini', 'Japan']
  Jersey: ['Guernsey']
  Indonesia: ['India']
  Bahrain: ['Iran', 'Bhutan', 'Brazil']
  Sierra Leone: ['Serbia']
  Cook Islands: ['Cayman Islands', 'Finland', 'Ireland', 'Scotland']
  United Arab Emirates: ['United States of America', 'Iran', 'Saudi Arabia', 'Israel']
  India: ['West Indies', 'Indonesia', 'Eswatini', 'Slovenia', 'China']
  Nigeria: ['Serbia']
  Croatia: ['Romania']
  Bhutan: ['Bahrain']
  Eswatini: ['India', 'Estonia', 'West Indies', 'Spain']
  Panama: ['Canada', 'Myanmar', 'Namibia', 'Bahamas']
  Austria: ['Australia', 'Serbia']
  Scotland: ['Switzerland', 'Thailand', 'Cook Islands']
  Saudi Arabia: ['Gambia', 'Serbia', 'United Arab Emirates']
  Rwanda: ['Iran', 'Canada', 'Uganda', 'Switzerland', 'Romania', 'Ireland', 'Netherlands']
  St Helena: ['Kenya']
  Cayman Islands: ['Cook Islands', 'Oman', 'Finland', 'Ireland', 'Swaziland']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Slovenia: ['Estonia', 'India']
  Isle of Man: ['United States of America', 'Oman']
  Maldives: ['Mali']
  Brazil: ['Bahrain', 'Swaziland', 'Gibraltar']
  Japan: ['Spain']
  Iran: ['Ireland', 'Swaziland', 'Switzerland', 'Bahrain', 'Rwanda', 'Thailand', 'Gibraltar', 'Israel', 'France', 'Germany', 'Netherlands', 'United Arab Emirates', 'Gambia', 'Cambodia', 'Mongolia']
  Canada: ['Panama', 'Rwanda', 'Uganda']
  Namibia: ['Gambia', 'Cambodia', 'Panama']
  South Africa: ['South Korea', 'Costa Rica', 'United States of America']
  Malawi: ['Mali', 'Malta', 'Malaysia']
  Mozambique: ['Gambia']
  West Indies: ['India', 'Eswatini']
  Thailand: ['Swaziland', 'Iran', 'Finland', 'Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Bahamas: ['Panama']
  Australia: ['Austria', 'Mali', 'Israel']
  Sri Lanka: ['Serbia']
  China: ['India', 'Ghana', 'Chile']
  Belgium: ['Belize']
  Malta: ['Malawi', 'Malaysia', 'Gibraltar', 'Mali', 'Qatar']
  Gibraltar: ['Malta', 'Qatar', 'Iran', 'Brazil', 'Israel']
  New Zealand: ['England', 'Switzerland', 'Ireland', 'Netherlands', 'Swaziland']
  Israel: ['Iran', 'Ireland', 'United Arab Emirates', 'Australia', 'Gibraltar']
  United States of America: ['Isle of Man', 'United Arab Emirates', 'Serbia', 'Mexico', 'South Africa']
  Finland: ['England', 'Ireland', 'Thailand', 'Cook Islands', 'Cayman Islands', 'Swaziland']
  Oman: ['Romania', 'Cayman Islands', 'Isle of Man', 'Germany']
  Cambodia: ['Gambia', 'Namibia', 'Samoa', 'Iran']
  France: ['Iran']
  Afghanistan: ['Ghana', 'Pakistan']
  Samoa: ['Cambodia']
  Qatar: ['Gibraltar', 'Malta']
  Germany: ['Iran', 'Oman', 'Guernsey']
  Romania: ['Oman', 'Croatia', 'Mali', 'Rwanda']
  Uganda: ['Ghana', 'Rwanda', 'Canada', 'England']
  Ireland: ['Iran', 'England', 'Finland', 'Switzerland', 'Thailand', 'Cook Islands', 'Cayman Islands', 'New Zealand', 'Netherlands', 'Swaziland', 'Rwanda', 'Israel']
  Guernsey: ['Jersey', 'Germany']
  Papua New Guinea: ['Nepal']
  Chile: ['China']
  Mongolia: ['Iran']
  Kenya: ['St Helena']
  Netherlands: ['Iran', 'England', 'Switzerland', 'New Zealand', 'Ireland', 'Thailand', 'Rwanda']
IPT:
  North-West Warriors: ['North West Warriors']
  North West Warriors: ['North-West Warriors']
CTC:
  Boland: ['KwaZulu-Natal Inland']
  KwaZulu-Natal Inland: ['Boland']
  Dolphins: ['Lions']
  Lions: ['Dolphins']
MDM:
  Ireland: ['Netherlands']
  Netherlands: ['Ireland']
ODM:
  West Indies: ['India']
  Thailand: ['Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Pakistan: ['Afghanistan']
  China: ['India', 'Ghana']
  Jersey: ['Guernsey']
  Indonesia: ['India']
  Bahrain: ['Bhutan']
  Zambia: ['Namibia', 'Saudi Arabia']
  United Arab Emirates: ['United States of America', 'Saudi Arabia']
  India: ['West Indies', 'Indonesia', 'China']
  United States of America: ['United Arab Emirates', 'South Africa']
  Oman: ['Germany', 'Cayman Islands']
  Bhutan: ['Bahrain']
  Afghanistan: ['Ghana', 'Pakistan']
  Scotland: ['Thailand']
  Germany: ['Oman', 'Guernsey']
  Saudi Arabia: ['Zambia', 'United Arab Emirates']
  Cayman Islands: ['Oman', 'Ireland']
  Uganda: ['Ghana', 'Canada']
  Ireland: ['Thailand', 'Cayman Islands', 'Netherlands']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Guernsey: ['Jersey', 'Germany']
  Papua New Guinea: ['Nepal']
  Canada: ['Uganda']
  Namibia: ['Zambia']
  South Africa: ['United States of America']
  Netherlands: ['Ireland', 'Thailand']
CPL:
  St Lucia Kings: ['St Kitts and Nevis Patriots', 'St Lucia Zouks', 'St Lucia Stars']
  St Kitts and Nevis Patriots: ['St Lucia Kings', 'St Lucia Zouks', 'St Lucia Stars']
  Barbados Royals: ['Barbados Tridents']
  St Lucia Zouks: ['St Kitts and Nevis Patriots', 'St Lucia Kings', 'St Lucia Stars']
  St Lucia Stars: ['St Kitts and Nevis Patriots', 'St Lucia Kings', 'St Lucia Zouks']
  Barbados Tridents: ['Barbados Royals']
BBL:
  Melbourne Renegades: ['Melbourne Stars']
  Sydney Sixers: ['Sydney Thunder']
  Melbourne Stars: ['Melbourne Renegades']
  Sydney Thunder: ['Sydney Sixers']
WBB:
  Melbourne Renegades: ['Melbourne Stars']
  Sydney Sixers: ['Sydney Thunder']
  Melbourne Stars: ['Melbourne Renegades']
  Sydney Thunder: ['Sydney Sixers']
SSH:
  South Australia: ['Western Australia']
  Western Australia: ['South Australia']
IT20:
  Mozambique: ['Gambia']
  Swaziland: ['Thailand', 'Finland', 'Ireland', 'Cayman Islands']
  Belize: ['Belgium']
  Myanmar: ['Panama']
  Thailand: ['Swaziland', 'Finland', 'Ireland', 'Netherlands', 'Scotland']
  Malaysia: ['Malawi']
  Nepal: ['Papua New Guinea']
  Gambia: ['Namibia', 'Mozambique', 'Saudi Arabia']
  Pakistan: ['Afghanistan', 'Spain']
  Bahamas: ['Panama']
  China: ['Ghana']
  Belgium: ['Belize']
  Gibraltar: ['Qatar', 'Israel']
  Spain: ['Pakistan', 'Japan']
  Jersey: ['Guernsey']
  Bahrain: ['Bhutan']
  Israel: ['Ireland', 'Gibraltar', 'United Arab Emirates']
  United Arab Emirates: ['United States of America', 'Israel', 'Saudi Arabia']
  United States of America: ['Isle of Man', 'United Arab Emirates']
  Finland: ['Ireland', 'Thailand', 'Cayman Islands', 'Swaziland']
  Oman: ['Germany', 'Cayman Islands', 'Isle of Man']
  Bhutan: ['Bahrain']
  Afghanistan: ['Ghana', 'Pakistan']
  Panama: ['Canada', 'Myanmar', 'Bahamas', 'Namibia']
  Qatar: ['Gibraltar']
  Netherlands: ['Ireland', 'Thailand', 'Rwanda']
  Scotland: ['Thailand']
  Germany: ['Oman', 'Guernsey']
  Saudi Arabia: ['Gambia', 'United Arab Emirates']
  Rwanda: ['Uganda', 'Canada', 'Ireland', 'Netherlands']
  St Helena: ['Kenya']
  Cayman Islands: ['Oman', 'Finland', 'Ireland', 'Swaziland']
  Uganda: ['Ghana', 'Rwanda', 'Canada']
  Ireland: ['Finland', 'Thailand', 'Netherlands', 'Cayman Islands', 'Swaziland', 'Israel', 'Rwanda']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Guernsey: ['Jersey', 'Germany']
  Isle of Man: ['United States of America', 'Oman']
  Papua New Guinea: ['Nepal']
  Japan: ['Spain']
  Canada: ['Panama', 'Rwanda', 'Uganda']
  Namibia: ['Gambia', 'Panama']
  Kenya: ['St Helena']
  Malawi: ['Malaysia']
BPL:
  Comilla Victorians: ['Cumilla Warriors']
  Chittagong Vikings: ['Chittagong Kings']
  Sylhet Thunder: ['Sylhet Sunrisers', 'Sylhet Strikers', 'Sylhet Sixers', 'Sylhet Super Stars', 'Sylhet Royals']
  Barisal Burners: ['Barisal Bulls', 'Fortune Barishal']
  Sylhet Sixers: ['Sylhet Strikers', 'Sylhet Sunrisers', 'Sylhet Super Stars', 'Sylhet Royals', 'Sylhet Thunder']
  Cumilla Warriors: ['Comilla Victorians']
  Rajshahi Kings: ['Rajshahi Royals', 'Duronto Rajshahi']
  Barisal Bulls: ['Barisal Burners']
  Sylhet Strikers: ['Sylhet Sixers', 'Sylhet Sunrisers', 'Sylhet Thunder', 'Sylhet Super Stars', 'Sylhet Royals']
  Fortune Barishal: ['Barisal Burners']
  Durdanto Dhaka: ['Dhaka Platoon', 'Dhaka Dominators', 'Dhaka Gladiators', 'Duronto Rajshahi']
  Dhaka Platoon: ['Minister Group Dhaka', 'Dhaka Gladiators', 'Durdanto Dhaka', 'Dhaka Dominators']
  Sylhet Sunrisers: ['Sylhet Strikers', 'Sylhet Sixers', 'Sylhet Super Stars', 'Sylhet Thunder', 'Sylhet Royals']
  Khulna Royal Bengals: ['Khulna Tigers', 'Khulna Titans']
  Rajshahi Royals: ['Rajshahi Kings', 'Duronto Rajshahi', 'Sylhet Royals']
  Minister Group Dhaka: ['Dhaka Platoon', 'Dhaka Dominators']
  Rangpur Riders: ['Rangpur Rangers']
  Khulna Tigers: ['Khulna Royal Bengals', 'Khulna Titans']
  Dhaka Dominators: ['Dhaka Gladiators', 'Dhaka Dynamites', 'Durdanto Dhaka', 'Minister Group Dhaka', 'Dhaka Platoon']
  Rangpur Rangers: ['Rangpur Riders']
  Khulna Titans: ['Khulna Royal Bengals', 'Khulna Tigers']
  Duronto Rajshahi: ['Rajshahi Kings', 'Rajshahi Royals', 'Durdanto Dhaka']
  Sylhet Super Stars: ['Sylhet Sunrisers', 'Sylhet Sixers', 'Sylhet Strikers', 'Sylhet Thunder', 'Sylhet Royals']
  Sylhet Royals: ['Sylhet Sixers', 'Sylhet Super Stars', 'Sylhet Strikers', 'Rajshahi Royals', 'Sylhet Sunrisers', 'Sylhet Thunder']
  Dhaka Gladiators: ['Dhaka Dominators', 'Dhaka Platoon', 'Dhaka Dynamites', 'Durdanto Dhaka']
  Chittagong Kings: ['Chittagong Vikings']
  Dhaka Dynamites: ['Dhaka Dominators', 'Dhaka Gladiators']
NTB:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Middlesex: ['Essex']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
RLC:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
CCH:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
IPL:
  Punjab Kings: ['Kings XI Punjab', 'Chennai Super Kings']
  Delhi Capitals: ['Delhi Daredevils']
  Rising Pune Supergiants: ['Rising Pune Supergiant', 'Pune Warriors', 'Lucknow Super Giants']
  Delhi Daredevils: ['Delhi Capitals']
  Chennai Super Kings: ['Punjab Kings', 'Lucknow Super Giants']
  Gujarat Titans: ['Gujarat Lions']
  Lucknow Super Giants: ['Rising Pune Supergiants', 'Chennai Super Kings', 'Rising Pune Supergiant']
  Royal Challengers Bengaluru: ['Royal Challengers Bangalore']
  Royal Challengers Bangalore: ['Royal Challengers Bengaluru']
  Pune Warriors: ['Rising Pune Supergiants', 'Rising Pune Supergiant']
  Kings XI Punjab: ['Punjab Kings']
  Gujarat Lions: ['Gujarat Titans']
  Rising Pune Supergiant: ['Rising Pune Supergiants', 'Pune Warriors', 'Lucknow Super Giants']
SSM:
  Central Districts: ['Northern Districts']
  Northern Districts: ['Central Districts']
SMA:
  Bengal: ['Goa', 'Meghalaya']
  Himachal: ['Himachal Pradesh']
  Jharkhand: ['Uttarakhand', 'Haryana']
  Goa: ['Bengal', 'Chhattisgarh', 'Nagaland', 'Meghalaya', 'Baroda', 'Mizoram', 'Chandigarh']
  Chhattisgarh: ['Chandigarh', 'Goa']
  Nagaland: ['Goa']
  Tripura: ['Uttar Pradesh']
  Kerala: ['Meghalaya', 'Hyderabad (India)']
  Madhya Pradesh: ['Himachal Pradesh', 'Arunachal Pradesh', 'Uttar Pradesh', 'Maharashtra', 'Andhra', 'Delhi']
  Himachal Pradesh: ['Himachal', 'Madhya Pradesh', 'Arunachal Pradesh', 'Uttar Pradesh', 'Delhi']
  Saurashtra: ['Maharashtra', 'Andhra']
  Meghalaya: ['Bengal', 'Goa', 'Kerala']
  Baroda: ['Goa']
  Andhra: ['Madhya Pradesh', 'Saurashtra', 'Maharashtra', 'Chandigarh']
  Uttar Pradesh: ['Madhya Pradesh', 'Arunachal Pradesh', 'Himachal Pradesh', 'Tripura', 'Delhi']
  Hyderabad (India): ['Kerala']
  Maharashtra: ['Saurashtra', 'Madhya Pradesh', 'Andhra']
  Mizoram: ['Goa']
  Haryana: ['Jharkhand']
  Arunachal Pradesh: ['Himachal Pradesh', 'Madhya Pradesh', 'Uttar Pradesh', 'Delhi']
  Delhi: ['Madhya Pradesh', 'Himachal Pradesh', 'Uttar Pradesh', 'Arunachal Pradesh']
  Uttarakhand: ['Jharkhand']
  Chandigarh: ['Chhattisgarh', 'Goa', 'Andhra']
BWT:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
LPL:
  Galle Titans: ['Galle Gladiators']
  Dambulla Aura: ['Dambulla Giants', 'Dambulla Viiking']
  Colombo Stars: ['Colombo Strikers', 'Colombo Kings']
  B-Love Kandy: ['Kandy Falcons']
  Kandy Warriors: ['Kandy Falcons']
  Jaffna Stallions: ['Jaffna Kings']
  Jaffna Kings: ['Jaffna Stallions']
  Colombo Kings: ['Colombo Stars', 'Colombo Strikers']
  Dambulla Giants: ['Dambulla Aura', 'Dambulla Viiking']
  Dambulla Viiking: ['Dambulla Aura', 'Dambulla Giants']
  Colombo Strikers: ['Colombo Stars', 'Colombo Kings']
  Galle Gladiators: ['Galle Titans']
  Kandy Falcons: ['Kandy Warriors', 'B-Love Kandy']
FRB:
  Warriors: ['Warriors (FairBreak)']
  Warriors (FairBreak): ['Warriors']
SAT:
  Durban's Super Giants: ['Joburg Super Kings']
  Sunrisers Eastern Cape: ['MI Cape Town']
  MI Cape Town: ['Sunrisers Eastern Cape']
  Joburg Super Kings: ["Durban's Super Giants"]
BLZ:
  Leeward Islands: ['Windward Islands']
  Windward Islands: ['Leeward Islands']
SFT:
  Leeward Islands: ['Windward Islands']
  Windward Islands: ['Leeward Islands']

In [17]:
# Define the mapping of old team names to current team names
team_name_mapping = {
    ('North-West Warriors',): 'North West Warriors',
    ('St Lucia Stars', 'St Lucia Zouks'): 'St Lucia Kings',
    ('Barbados Tridents',): 'Barbados Royals',
    ('St Lucia Zouks', 'St Lucia Kings'): 'St Lucia Kings',
	('Comilla Victorians',): 'Cumilla Warriors',
	('Chittagong Kings', 'Chittagong Vikings'): 'Chattogram Challengers',
	('Khulna Royal Bengals', 'Khulna Titans'): 'Khulna Tigers',
	('Barishal Burners', 'Barishal Bulls'): 'Fortune Barishal',
	('Dhaka Gladiators', 'Dhaka Dynamites', 'Dhaka Platoon', 'Beximco Dhaka', 'Minister Dhaka', 'Minister Group Dhaka', 'Dhaka Dominators'): 'Durdanto Dhaka',
    ('Sylhet Royals', 'Sylhet Super Stars', 'Sylhet Sixers', 'Sylhet Thunder', 'Sylhet Sunrisers'): 'Sylhet Strikers',
	('Rangpur Riders',): 'Rangpur Rangers',
	('Duronto Rajshahi', 'Rajshahi Kings'): 'Rajshahi Royals',
	('Royal Challengers Bangalore', ): 'Royal Challengers Bengaluru',
	('Delhi Daredevils',): 'Delhi Capitals',
	('Kings XI Punjab',): 'Punjab Kings',
	('Colombo Kings', 'Colombo Stars',): 'Colombo Strikers',
	('Dambulla Viiking', 'Dambulla Giants', 'Dambulla Aura',): 'Dambulla Sixers',
	('Galle Gladiators', 'Galle Titans'): 'Galle Marvels',
	('Kandy Tuskers', 'Kandy Warriors', 'Kandy Falcons'): 'B-Love Kandy',
	('Jaffna Stallions',): 'Jaffna Kings',
	# Add other mappings as needed
}

In [18]:
# Define the function to replace team names
def replace_team_names(matches_df, team_name_mapping):
    for old_names, new_name in team_name_mapping.items():
        for old_name in old_names:
            matches_df['team_involved_one'] = matches_df['team_involved_one'].replace(old_name, new_name)
            matches_df['team_involved_two'] = matches_df['team_involved_two'].replace(old_name, new_name)
    return matches_df

In [19]:
# Replace team names in the original DataFrame
matches_df = replace_team_names(matches_df, team_name_mapping)

# Display the updated DataFrame
print(matches_df.head())

  match_id gender  start_date     teams_type match_type team_involved_one  \
0  1000851   male  2016-11-03  international       Test         Australia
1  1000853   male  2016-11-12  international       Test         Australia
2  1000855   male  2016-11-24  international       Test         Australia
3  1000881   male  2016-12-15  international       Test         Australia
4  1000883   male  2016-12-26  international       Test         Australia

  team_involved_two                                            outcome  \
0      South Africa    {"by": {"runs": 177}, "winner": "South Africa"}
1      South Africa  {"by": {"innings": 1, "runs": 80}, "winner": "...
2      South Africa      {"by": {"wickets": 7}, "winner": "Australia"}
3          Pakistan        {"by": {"runs": 39}, "winner": "Australia"}
4          Pakistan  {"by": {"innings": 1, "runs": 18}, "winner": "...

                                              toss        city  \
0    {"decision": "bat", "winner": "South Africa"}     "Perth"
1  {"decision": "field", "winner": "South Africa"}    "Hobart"
2    {"decision": "bat", "winner": "South Africa"}        null
3       {"decision": "bat", "winner": "Australia"}  "Brisbane"
4        {"decision": "bat", "winner": "Pakistan"}        null

                                            venue
0  "Western Australia Cricket Association Ground"
1                                "Bellerive Oval"
2                                 "Adelaide Oval"
3        "Brisbane Cricket Ground, Woolloongabba"
4                      "Melbourne Cricket Ground"

In [20]:
# Step 2: Define the Function
def get_unique_teams_by_match_type(matches_df):
    unique_teams_by_match_type = {}
    
    for match_type in matches_df['match_type'].unique():
        # Filter DataFrame for the current match type
        filtered_df = matches_df[matches_df['match_type'] == match_type]
        
        # Extract unique team names from both columns
        unique_teams = set(filtered_df['team_involved_one']).union(set(filtered_df['team_involved_two']))
        
        # Assign the unique team names to the dictionary
        unique_teams_by_match_type[match_type] = unique_teams
        
    return unique_teams_by_match_type

# Step 3: Get the Unique Teams by Match Type
unique_teams_by_match_type = get_unique_teams_by_match_type(matches_df)

# Step 4: Print the Results
for match_type, teams in unique_teams_by_match_type.items():
    print(f"{match_type}: {teams}")

Test: {'New Zealand', 'West Indies', 'India', 'South Africa', 'ICC World XI', 'Pakistan', 'Australia', 'Sri Lanka', 'Ireland', 'England', 'Zimbabwe', 'Afghanistan', 'Bangladesh'}
ODI: {'West Indies', 'Scotland', 'Hong Kong', 'Thailand', 'Nepal', 'Pakistan', 'Australia', 'Ireland', 'Sri Lanka', 'Africa XI', 'England', 'New Zealand', 'Jersey', 'Papua New Guinea', 'Asia XI', 'United Arab Emirates', 'Canada', 'India', 'Namibia', 'United States of America', 'South Africa', 'ICC World XI', 'Oman', 'Bermuda', 'Kenya', 'Netherlands', 'Zimbabwe', 'Afghanistan', 'Bangladesh'}
T20: {'Swaziland', 'Kuwait', 'Belize', 'Estonia', 'Myanmar', 'Costa Rica', 'Hong Kong', 'Malaysia', 'Lesotho', 'Gambia', 'Pakistan', 'South Korea', 'Portugal', 'Mali', 'Serbia', 'Denmark', 'Seychelles', 'Mexico', 'England', 'Switzerland', 'Spain', 'Jersey', 'Indonesia', 'Bahrain', 'Fiji', 'Sierra Leone', 'Cook Islands', 'United Arab Emirates', 'India', 'Nigeria', 'Croatia', 'Hungary', 'Bhutan', 'Eswatini', 'Panama', 'Austria', 'Scotland', 'Saudi Arabia', 'Rwanda', 'St Helena', 'Cayman Islands', 'Ghana', 'Slovenia', 'Norway', 'Isle of Man', 'Maldives', 'Brazil', 'Tanzania', 'Japan', 'Iran', 'Canada', 'Argentina', 'Namibia', 'South Africa', 'Bermuda', 'Malawi', 'Turkey', 'Zimbabwe', 'Mozambique', 'West Indies', 'Czech Republic', 'Cyprus', 'Philippines', 'Barbados', 'Thailand', 'Nepal', 'Bahamas', 'Australia', 'Sri Lanka', 'China', 'Belgium', 'Malta', 'Gibraltar', 'Bulgaria', 'Italy', 'New Zealand', 'Israel', 'United States of America', 'Vanuatu', 'Singapore', 'Finland', 'Oman', 'Cambodia', 'France', 'Afghanistan', 'Luxembourg', 'Samoa', 'Qatar', 'Germany', 'Romania', 'Uganda', 'Ireland', 'Guernsey', 'Papua New Guinea', 'Botswana', 'Greece', 'Chile', 'ICC World XI', 'Mongolia', 'Kenya', 'Sweden', 'Netherlands', 'Cameroon', 'Bangladesh'}
IPO: {'Leinster Lightning', 'Northern Knights', 'Munster Reds', 'North West Warriors'}
IPT: {'Leinster Lightning', 'Northern Knights', 'Munster Reds', 'North West Warriors'}
CTC: {'Cape Cobras', 'Western Province', 'Boland', 'Impi', 'Warriors', 'North West', 'KwaZulu-Natal Inland', 'Titans', 'Dolphins', 'Lions', 'Knights'}
MDM: {'Papua New Guinea', 'Scotland', 'United Arab Emirates', 'Canada', 'Namibia', 'Hong Kong', 'Bermuda', 'Kenya', 'Ireland', 'Netherlands', 'Afghanistan'}
ODM: {'West Indies', 'Kuwait', 'Philippines', 'Hong Kong', 'Thailand', 'Nepal', 'Malaysia', 'Pakistan', 'Bahamas', 'Sri Lanka', 'Denmark', 'China', 'Belgium', 'Italy', 'Jersey', 'Indonesia', 'Bahrain', 'Fiji', 'Zambia', 'Sierra Leone', 'United Arab Emirates', 'India', 'Nigeria', 'United States of America', 'Vanuatu', 'Singapore', 'Oman', 'Bhutan', 'France', 'Afghanistan', 'Austria', 'Samoa', 'Qatar', 'Scotland', 'Germany', 'Saudi Arabia', 'Suriname', 'Cayman Islands', 'Uganda', 'Ireland', 'Ghana', 'Guernsey', 'Norway', 'Papua New Guinea', 'Maldives', 'Botswana', 'Tanzania', 'Japan', 'Canada', 'Argentina', 'Namibia', 'South Africa', 'Bermuda', 'Kenya', 'Sweden', 'Netherlands', 'Zimbabwe', 'Bangladesh'}
CPL: {'Jamaica Tallawahs', 'Barbados Royals', 'Guyana Amazon Warriors', 'Trinidad & Tobago Red Steel', 'Trinbago Knight Riders', 'St Lucia Kings', 'Antigua Hawksbills', 'St Kitts and Nevis Patriots'}
BBL: {'Melbourne Renegades', 'Adelaide Strikers', 'Sydney Sixers', 'Brisbane Heat', 'Melbourne Stars', 'Perth Scorchers', 'Sydney Thunder', 'Hobart Hurricanes'}
WBB: {'Melbourne Renegades', 'Adelaide Strikers', 'Sydney Sixers', 'Brisbane Heat', 'Melbourne Stars', 'Perth Scorchers', 'Sydney Thunder', 'Hobart Hurricanes'}
WSL: {'Southern Vipers', 'Surrey Stars', 'Lancashire Thunder', 'Loughborough Lightning', 'Western Storm', 'Yorkshire Diamonds'}
SSH: {'Victoria', 'Tasmania', 'Queensland', 'South Australia', 'Western Australia', 'New South Wales'}
IT20: {'Mozambique', 'Swaziland', 'Czech Republic', 'Kuwait', 'Belize', 'Myanmar', 'Cyprus', 'Philippines', 'Hong Kong', 'Thailand', 'Malaysia', 'Nepal', 'Gambia', 'Lesotho', 'Pakistan', 'South Korea', 'Portugal', 'Bahamas', 'Sri Lanka', 'China', 'Denmark', 'Belgium', 'Gibraltar', 'Italy', 'Spain', 'Jersey', 'Bahrain', 'Indonesia', 'Fiji', 'Sierra Leone', 'Israel', 'United Arab Emirates', 'Nigeria', 'United States of America', 'Vanuatu', 'Singapore', 'Finland', 'Oman', 'Bhutan', 'France', 'Afghanistan', 'Panama', 'Austria', 'Samoa', 'Qatar', 'Netherlands', 'Scotland', 'Germany', 'Saudi Arabia', 'Rwanda', 'St Helena', 'Cayman Islands', 'Uganda', 'Ireland', 'Ghana', 'Guernsey', 'Norway', 'Isle of Man', 'Papua New Guinea', 'Maldives', 'Botswana', 'Tanzania', 'Japan', 'Canada', 'Argentina', 'Namibia', 'Bermuda', 'Kenya', 'Sweden', 'Malawi', 'Zimbabwe', 'Bangladesh'}
PKS: {'Otago Volts', 'Canterbury', 'Auckland Aces', 'Central Stags', 'Northern Districts', 'Wellington Firebirds'}
BPL: {'Rajshahi Royals', 'Barisal Burners', 'Khulna Tigers', 'Rangpur Rangers', 'Cumilla Warriors', 'Barisal Bulls', 'Sylhet Strikers', 'Chattogram Challengers', 'Fortune Barishal', 'Durdanto Dhaka'}
NTB: {'Nottinghamshire', 'Surrey', 'Leicestershire', 'Middlesex', 'Glamorgan', 'Essex', 'Warwickshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Birmingham Bears', 'Derbyshire', 'Somerset', 'Hampshire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
RLC: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
CCH: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
PSL: {'Islamabad United', 'Quetta Gladiators', 'Multan Sultans', 'Peshawar Zalmi', 'Karachi Kings', 'Lahore Qalandars'}
IPL: {'Punjab Kings', 'Kolkata Knight Riders', 'Delhi Capitals', 'Chennai Super Kings', 'Gujarat Titans', 'Rajasthan Royals', 'Royal Challengers Bengaluru', 'Lucknow Super Giants', 'Pune Warriors', 'Rising Pune Supergiants', 'Deccan Chargers', 'Kochi Tuskers Kerala', 'Mumbai Indians', 'Gujarat Lions', 'Sunrisers Hyderabad', 'Rising Pune Supergiant'}
SSM: {'Wellington', 'Auckland', 'Central Districts', 'Canterbury', 'Northern Districts', 'Otago'}
SMA: {'Bengal', 'Himachal', 'Jharkhand', 'Rajasthan', 'Goa', 'Railways', 'Chhattisgarh', 'Assam', 'Sikkim', 'Tamil Nadu', 'Nagaland', 'Tripura', 'Gujarat', 'Kerala', 'Manipur', 'Jammu & Kashmir', 'Mumbai', 'Madhya Pradesh', 'Himachal Pradesh', 'Saurashtra', 'Meghalaya', 'Baroda', 'Andhra', 'Bihar', 'Vidarbha', 'Services', 'Uttar Pradesh', 'Hyderabad (India)', 'Maharashtra', 'Mizoram', 'Haryana', 'Arunachal Pradesh', 'Odisha', 'Punjab', 'Delhi', 'Karnataka', 'Uttarakhand', 'Puducherry', 'Chandigarh'}
WTC: {'Supernovas', 'Trailblazers', 'Velocity'}
APL: {'Kandahar Knights', 'Kabul Zwanan', 'Paktia Panthers', 'Nangarhar Leopards', 'Balkh Legends'}
MSL: {'Tshwane Spartans', 'Nelson Mandela Bay Giants', 'Jozi Stars', 'Cape Town Blitz', 'Durban Heat', 'Paarl Rocks'}
BWT: {'Nottinghamshire', 'Surrey', 'Derbyshire', 'Middlesex', 'Leicestershire', 'Glamorgan', 'Somerset', 'Essex', 'Warwickshire', 'Hampshire', 'Northamptonshire', 'Worcestershire', 'Kent', 'Lancashire', 'Yorkshire', 'Sussex', 'Gloucestershire', 'Durham'}
RHF: {'Southern Vipers', 'Thunder', 'South East Stars', 'Sunrisers', 'Northern Diamonds', 'Western Storm', 'Central Sparks', 'Lightning', 'The Blaze'}
LPL: {'Dambulla Sixers', 'B-Love Kandy', 'Galle Marvels', 'Colombo Strikers', 'Jaffna Kings'}
CEC: {'Southern Vipers', 'Thunder', 'South East Stars', 'Sunrisers', 'Northern Diamonds', 'Western Storm', 'Central Sparks', 'Lightning', 'The Blaze'}
HND: {'Oval Invincibles', 'Welsh Fire', 'London Spirit', 'Manchester Originals', 'Northern Superchargers', 'Southern Brave', 'Trent Rockets', 'Birmingham Phoenix'}
FRB: {'Barmy Army', 'Warriors', 'Warriors (FairBreak)', 'Spirit', 'Falcons', 'Tornadoes', 'Sapphires'}
WCL: {'Barbados Royals', 'Guyana Amazon Warriors', 'Trinbago Knight Riders'}
SAT: {"Durban's Super Giants", 'Pretoria Capitals', 'Sunrisers Eastern Cape', 'MI Cape Town', 'Paarl Royals', 'Joburg Super Kings'}
ILT: {'MI Emirates', 'Abu Dhabi Knight Riders', 'Dubai Capitals', 'Sharjah Warriors', 'Gulf Giants', 'Desert Vipers'}
WPL: {'UP Warriorz', 'Delhi Capitals', 'Gujarat Giants', 'Royal Challengers Bengaluru', 'Mumbai Indians'}
MLC: {'Washington Freedom', 'MI New York', 'San Francisco Unicorns', 'Texas Super Kings', 'Seattle Orcas', 'Los Angeles Knight Riders'}
BLZ: {'Trinidad and Tobago', 'Guyana', 'Leeward Islands', 'Jamaica', 'Barbados', 'Windward Islands'}
SFT: {'Trinidad and Tobago', 'Guyana', 'Leeward Islands', 'Jamaica', 'Barbados', 'Windward Islands'}

In [21]:
from fuzzywuzzy import process

def find_similar_names_per_match_type(unique_teams_by_match_type, threshold=60):
    similar_names_by_match_type = {}

    for match_type, teams in unique_teams_by_match_type.items():
        teams_list = list(teams)
        potential_matches = {}
        
        for team in teams_list:
            matches = process.extract(team, teams_list, limit=None)
            similar_teams = [match[0] for match in matches if match[1] >= threshold and match[0] != team]
            if similar_teams:
                potential_matches[team] = similar_teams
        
        if potential_matches:
            similar_names_by_match_type[match_type] = potential_matches

    return similar_names_by_match_type

# Execute the function
similar_names_per_match_type = find_similar_names_per_match_type(unique_teams_by_match_type)

# Print the results
for match_type, similar_names in similar_names_per_match_type.items():
    print(f"{match_type}:")
    for team, matches in similar_names.items():
        print(f"  {team}: {matches}")

Test:
  New Zealand: ['Ireland', 'England']
  West Indies: ['India']
  India: ['West Indies']
  Pakistan: ['Afghanistan']
  Ireland: ['England', 'New Zealand']
  England: ['Ireland', 'New Zealand']
  Afghanistan: ['Pakistan']
ODI:
  West Indies: ['India']
  Scotland: ['Thailand']
  Thailand: ['Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Pakistan: ['Afghanistan']
  Ireland: ['England', 'Thailand', 'New Zealand', 'Netherlands']
  Africa XI: ['South Africa', 'Asia XI']
  England: ['Ireland', 'New Zealand', 'Netherlands']
  New Zealand: ['Ireland', 'England', 'Netherlands']
  Papua New Guinea: ['Nepal']
  Asia XI: ['ICC World XI', 'Africa XI']
  United Arab Emirates: ['United States of America']
  India: ['West Indies']
  United States of America: ['United Arab Emirates', 'South Africa']
  South Africa: ['Africa XI', 'United States of America']
  ICC World XI: ['Asia XI']
  Netherlands: ['Ireland', 'England', 'New Zealand', 'Thailand']
  Afghanistan: ['Pakistan']
T20:
  Swaziland: ['Thailand', 'Switzerland', 'Iran', 'Finland', 'Ireland', 'Cayman Islands', 'Brazil', 'New Zealand']
  Belize: ['Belgium']
  Estonia: ['Eswatini', 'Slovenia']
  Myanmar: ['Panama']
  Costa Rica: ['South Africa']
  Malaysia: ['Malta', 'Malawi', 'Mali']
  Gambia: ['Namibia', 'Cambodia', 'Saudi Arabia', 'Iran', 'Mozambique']
  Pakistan: ['Afghanistan', 'Spain']
  South Korea: ['South Africa']
  Mali: ['Malawi', 'Malaysia', 'Maldives', 'Australia', 'Romania', 'Malta']
  Serbia: ['Nigeria', 'Austria', 'Sierra Leone', 'Saudi Arabia', 'Sri Lanka', 'United States of America']
  Mexico: ['United States of America']
  England: ['Finland', 'Ireland', 'Switzerland', 'New Zealand', 'Netherlands', 'Uganda']
  Switzerland: ['Swaziland', 'England', 'Iran', 'Ireland', 'Rwanda', 'New Zealand', 'Netherlands', 'Scotland']
  Spain: ['Pakistan', 'Eswatini', 'Japan']
  Jersey: ['Guernsey']
  Indonesia: ['India']
  Bahrain: ['Iran', 'Bhutan', 'Brazil']
  Sierra Leone: ['Serbia']
  Cook Islands: ['Cayman Islands', 'Finland', 'Ireland', 'Scotland']
  United Arab Emirates: ['United States of America', 'Iran', 'Saudi Arabia', 'Israel']
  India: ['West Indies', 'Indonesia', 'Eswatini', 'Slovenia', 'China']
  Nigeria: ['Serbia']
  Croatia: ['Romania']
  Bhutan: ['Bahrain']
  Eswatini: ['India', 'Estonia', 'West Indies', 'Spain']
  Panama: ['Canada', 'Myanmar', 'Namibia', 'Bahamas']
  Austria: ['Australia', 'Serbia']
  Scotland: ['Switzerland', 'Thailand', 'Cook Islands']
  Saudi Arabia: ['Gambia', 'Serbia', 'United Arab Emirates']
  Rwanda: ['Iran', 'Canada', 'Uganda', 'Switzerland', 'Romania', 'Ireland', 'Netherlands']
  St Helena: ['Kenya']
  Cayman Islands: ['Cook Islands', 'Oman', 'Finland', 'Ireland', 'Swaziland']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Slovenia: ['Estonia', 'India']
  Isle of Man: ['United States of America', 'Oman']
  Maldives: ['Mali']
  Brazil: ['Bahrain', 'Swaziland', 'Gibraltar']
  Japan: ['Spain']
  Iran: ['Ireland', 'Swaziland', 'Switzerland', 'Bahrain', 'Rwanda', 'Thailand', 'Gibraltar', 'Israel', 'France', 'Germany', 'Netherlands', 'United Arab Emirates', 'Gambia', 'Cambodia', 'Mongolia']
  Canada: ['Panama', 'Rwanda', 'Uganda']
  Namibia: ['Gambia', 'Cambodia', 'Panama']
  South Africa: ['South Korea', 'Costa Rica', 'United States of America']
  Malawi: ['Mali', 'Malta', 'Malaysia']
  Mozambique: ['Gambia']
  West Indies: ['India', 'Eswatini']
  Thailand: ['Swaziland', 'Iran', 'Finland', 'Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Bahamas: ['Panama']
  Australia: ['Austria', 'Mali', 'Israel']
  Sri Lanka: ['Serbia']
  China: ['India', 'Ghana', 'Chile']
  Belgium: ['Belize']
  Malta: ['Malawi', 'Malaysia', 'Gibraltar', 'Mali', 'Qatar']
  Gibraltar: ['Malta', 'Qatar', 'Iran', 'Brazil', 'Israel']
  New Zealand: ['England', 'Switzerland', 'Ireland', 'Netherlands', 'Swaziland']
  Israel: ['Iran', 'Ireland', 'United Arab Emirates', 'Australia', 'Gibraltar']
  United States of America: ['Isle of Man', 'United Arab Emirates', 'Serbia', 'Mexico', 'South Africa']
  Finland: ['England', 'Ireland', 'Thailand', 'Cook Islands', 'Cayman Islands', 'Swaziland']
  Oman: ['Romania', 'Cayman Islands', 'Isle of Man', 'Germany']
  Cambodia: ['Gambia', 'Namibia', 'Samoa', 'Iran']
  France: ['Iran']
  Afghanistan: ['Ghana', 'Pakistan']
  Samoa: ['Cambodia']
  Qatar: ['Gibraltar', 'Malta']
  Germany: ['Iran', 'Oman', 'Guernsey']
  Romania: ['Oman', 'Croatia', 'Mali', 'Rwanda']
  Uganda: ['Ghana', 'Rwanda', 'Canada', 'England']
  Ireland: ['Iran', 'England', 'Finland', 'Switzerland', 'Thailand', 'Cook Islands', 'Cayman Islands', 'New Zealand', 'Netherlands', 'Swaziland', 'Rwanda', 'Israel']
  Guernsey: ['Jersey', 'Germany']
  Papua New Guinea: ['Nepal']
  Chile: ['China']
  Mongolia: ['Iran']
  Kenya: ['St Helena']
  Netherlands: ['Iran', 'England', 'Switzerland', 'New Zealand', 'Ireland', 'Thailand', 'Rwanda']
CTC:
  Boland: ['KwaZulu-Natal Inland']
  KwaZulu-Natal Inland: ['Boland']
  Dolphins: ['Lions']
  Lions: ['Dolphins']
MDM:
  Ireland: ['Netherlands']
  Netherlands: ['Ireland']
ODM:
  West Indies: ['India']
  Thailand: ['Ireland', 'Netherlands', 'Scotland']
  Nepal: ['Papua New Guinea']
  Pakistan: ['Afghanistan']
  China: ['India', 'Ghana']
  Jersey: ['Guernsey']
  Indonesia: ['India']
  Bahrain: ['Bhutan']
  Zambia: ['Namibia', 'Saudi Arabia']
  United Arab Emirates: ['United States of America', 'Saudi Arabia']
  India: ['West Indies', 'Indonesia', 'China']
  United States of America: ['United Arab Emirates', 'South Africa']
  Oman: ['Germany', 'Cayman Islands']
  Bhutan: ['Bahrain']
  Afghanistan: ['Ghana', 'Pakistan']
  Scotland: ['Thailand']
  Germany: ['Oman', 'Guernsey']
  Saudi Arabia: ['Zambia', 'United Arab Emirates']
  Cayman Islands: ['Oman', 'Ireland']
  Uganda: ['Ghana', 'Canada']
  Ireland: ['Thailand', 'Cayman Islands', 'Netherlands']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Guernsey: ['Jersey', 'Germany']
  Papua New Guinea: ['Nepal']
  Canada: ['Uganda']
  Namibia: ['Zambia']
  South Africa: ['United States of America']
  Netherlands: ['Ireland', 'Thailand']
CPL:
  St Lucia Kings: ['St Kitts and Nevis Patriots']
  St Kitts and Nevis Patriots: ['St Lucia Kings']
BBL:
  Melbourne Renegades: ['Melbourne Stars']
  Sydney Sixers: ['Sydney Thunder']
  Melbourne Stars: ['Melbourne Renegades']
  Sydney Thunder: ['Sydney Sixers']
WBB:
  Melbourne Renegades: ['Melbourne Stars']
  Sydney Sixers: ['Sydney Thunder']
  Melbourne Stars: ['Melbourne Renegades']
  Sydney Thunder: ['Sydney Sixers']
SSH:
  South Australia: ['Western Australia']
  Western Australia: ['South Australia']
IT20:
  Mozambique: ['Gambia']
  Swaziland: ['Thailand', 'Finland', 'Ireland', 'Cayman Islands']
  Belize: ['Belgium']
  Myanmar: ['Panama']
  Thailand: ['Swaziland', 'Finland', 'Ireland', 'Netherlands', 'Scotland']
  Malaysia: ['Malawi']
  Nepal: ['Papua New Guinea']
  Gambia: ['Namibia', 'Mozambique', 'Saudi Arabia']
  Pakistan: ['Afghanistan', 'Spain']
  Bahamas: ['Panama']
  China: ['Ghana']
  Belgium: ['Belize']
  Gibraltar: ['Qatar', 'Israel']
  Spain: ['Pakistan', 'Japan']
  Jersey: ['Guernsey']
  Bahrain: ['Bhutan']
  Israel: ['Ireland', 'Gibraltar', 'United Arab Emirates']
  United Arab Emirates: ['United States of America', 'Israel', 'Saudi Arabia']
  United States of America: ['Isle of Man', 'United Arab Emirates']
  Finland: ['Ireland', 'Thailand', 'Cayman Islands', 'Swaziland']
  Oman: ['Germany', 'Cayman Islands', 'Isle of Man']
  Bhutan: ['Bahrain']
  Afghanistan: ['Ghana', 'Pakistan']
  Panama: ['Canada', 'Myanmar', 'Bahamas', 'Namibia']
  Qatar: ['Gibraltar']
  Netherlands: ['Ireland', 'Thailand', 'Rwanda']
  Scotland: ['Thailand']
  Germany: ['Oman', 'Guernsey']
  Saudi Arabia: ['Gambia', 'United Arab Emirates']
  Rwanda: ['Uganda', 'Canada', 'Ireland', 'Netherlands']
  St Helena: ['Kenya']
  Cayman Islands: ['Oman', 'Finland', 'Ireland', 'Swaziland']
  Uganda: ['Ghana', 'Rwanda', 'Canada']
  Ireland: ['Finland', 'Thailand', 'Netherlands', 'Cayman Islands', 'Swaziland', 'Israel', 'Rwanda']
  Ghana: ['Uganda', 'Afghanistan', 'China']
  Guernsey: ['Jersey', 'Germany']
  Isle of Man: ['United States of America', 'Oman']
  Papua New Guinea: ['Nepal']
  Japan: ['Spain']
  Canada: ['Panama', 'Rwanda', 'Uganda']
  Namibia: ['Gambia', 'Panama']
  Kenya: ['St Helena']
  Malawi: ['Malaysia']
BPL:
  Barisal Burners: ['Barisal Bulls', 'Fortune Barishal']
  Barisal Bulls: ['Barisal Burners']
  Fortune Barishal: ['Barisal Burners']
NTB:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Middlesex: ['Essex']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
RLC:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
CCH:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
IPL:
  Punjab Kings: ['Chennai Super Kings']
  Chennai Super Kings: ['Punjab Kings', 'Lucknow Super Giants']
  Gujarat Titans: ['Gujarat Lions']
  Lucknow Super Giants: ['Rising Pune Supergiants', 'Chennai Super Kings', 'Rising Pune Supergiant']
  Pune Warriors: ['Rising Pune Supergiants', 'Rising Pune Supergiant']
  Rising Pune Supergiants: ['Rising Pune Supergiant', 'Pune Warriors', 'Lucknow Super Giants']
  Gujarat Lions: ['Gujarat Titans']
  Rising Pune Supergiant: ['Rising Pune Supergiants', 'Pune Warriors', 'Lucknow Super Giants']
SSM:
  Central Districts: ['Northern Districts']
  Northern Districts: ['Central Districts']
SMA:
  Bengal: ['Goa', 'Meghalaya']
  Himachal: ['Himachal Pradesh']
  Jharkhand: ['Uttarakhand', 'Haryana']
  Goa: ['Bengal', 'Chhattisgarh', 'Nagaland', 'Meghalaya', 'Baroda', 'Mizoram', 'Chandigarh']
  Chhattisgarh: ['Chandigarh', 'Goa']
  Nagaland: ['Goa']
  Tripura: ['Uttar Pradesh']
  Kerala: ['Meghalaya', 'Hyderabad (India)']
  Madhya Pradesh: ['Himachal Pradesh', 'Arunachal Pradesh', 'Uttar Pradesh', 'Maharashtra', 'Andhra', 'Delhi']
  Himachal Pradesh: ['Himachal', 'Madhya Pradesh', 'Arunachal Pradesh', 'Uttar Pradesh', 'Delhi']
  Saurashtra: ['Maharashtra', 'Andhra']
  Meghalaya: ['Bengal', 'Goa', 'Kerala']
  Baroda: ['Goa']
  Andhra: ['Madhya Pradesh', 'Saurashtra', 'Maharashtra', 'Chandigarh']
  Uttar Pradesh: ['Madhya Pradesh', 'Arunachal Pradesh', 'Himachal Pradesh', 'Tripura', 'Delhi']
  Hyderabad (India): ['Kerala']
  Maharashtra: ['Saurashtra', 'Madhya Pradesh', 'Andhra']
  Mizoram: ['Goa']
  Haryana: ['Jharkhand']
  Arunachal Pradesh: ['Himachal Pradesh', 'Madhya Pradesh', 'Uttar Pradesh', 'Delhi']
  Delhi: ['Madhya Pradesh', 'Himachal Pradesh', 'Uttar Pradesh', 'Arunachal Pradesh']
  Uttarakhand: ['Jharkhand']
  Chandigarh: ['Chhattisgarh', 'Goa', 'Andhra']
BWT:
  Nottinghamshire: ['Hampshire', 'Northamptonshire', 'Lancashire']
  Derbyshire: ['Yorkshire', 'Gloucestershire']
  Middlesex: ['Essex']
  Leicestershire: ['Gloucestershire', 'Worcestershire', 'Yorkshire']
  Essex: ['Middlesex', 'Sussex']
  Warwickshire: ['Yorkshire', 'Lancashire', 'Worcestershire']
  Hampshire: ['Nottinghamshire', 'Northamptonshire', 'Lancashire']
  Northamptonshire: ['Hampshire', 'Nottinghamshire', 'Yorkshire', 'Durham']
  Worcestershire: ['Gloucestershire', 'Leicestershire', 'Warwickshire', 'Yorkshire']
  Lancashire: ['Warwickshire', 'Nottinghamshire', 'Hampshire']
  Yorkshire: ['Warwickshire', 'Leicestershire', 'Gloucestershire', 'Derbyshire', 'Worcestershire', 'Northamptonshire']
  Sussex: ['Essex']
  Gloucestershire: ['Leicestershire', 'Worcestershire', 'Yorkshire', 'Derbyshire']
  Durham: ['Northamptonshire']
FRB:
  Warriors: ['Warriors (FairBreak)']
  Warriors (FairBreak): ['Warriors']
SAT:
  Durban's Super Giants: ['Joburg Super Kings']
  Sunrisers Eastern Cape: ['MI Cape Town']
  MI Cape Town: ['Sunrisers Eastern Cape']
  Joburg Super Kings: ["Durban's Super Giants"]
BLZ:
  Leeward Islands: ['Windward Islands']
  Windward Islands: ['Leeward Islands']
SFT:
  Leeward Islands: ['Windward Islands']
  Windward Islands: ['Leeward Islands']

In [22]:
def matches_per_team(teams_type):
    # Filter matches based on the provided team type
    filtered_matches = matches_df[matches_df['teams_type'] == teams_type]
    
    # Create a list of all teams involved in the filtered matches
    all_teams = pd.concat([filtered_matches['team_involved_one'], filtered_matches['team_involved_two']]).unique()
    
    # Initialize a dictionary to store the count of matches per team
    matches_per_team = {team: 0 for team in all_teams}
    
    # Update the matches count for each team
    for team in all_teams:
        matches_per_team[team] = ((filtered_matches['team_involved_one'] == team) | (filtered_matches['team_involved_two'] == team)).sum()
    
    # Sort the dictionary items by value in descending order
    matches_per_team_sorted = dict(sorted(matches_per_team.items(), key=lambda item: item[1], reverse=True))
    
    return matches_per_team_sorted

In [23]:
club_match_per_team = matches_per_team("club")
print(club_match_per_team)

{'Hampshire': 362, 'Nottinghamshire': 360, 'Somerset': 356, 'Essex': 355, 'Surrey': 354, 'Kent': 353, 'Worcestershire': 352, 'Lancashire': 351, 'Durham': 349, 'Gloucestershire': 348, 'Yorkshire': 347, 'Middlesex': 346, 'Northamptonshire': 345, 'Sussex': 345, 'Leicestershire': 342, 'Glamorgan': 339, 'Derbyshire': 337, 'Mumbai Indians': 280, 'Warwickshire': 274, 'Royal Challengers Bengaluru': 273, 'Delhi Capitals': 270, 'Perth Scorchers': 265, 'Sydney Sixers': 261, 'Adelaide Strikers': 258, 'Brisbane Heat': 258, 'Melbourne Stars': 254, 'Kolkata Knight Riders': 251, 'Punjab Kings': 246, 'Melbourne Renegades': 243, 'Hobart Hurricanes': 242, 'Sydney Thunder': 241, 'Chennai Super Kings': 238, 'Rajasthan Royals': 221, 'Canterbury': 203, 'Northern Districts': 199, 'Sunrisers Hyderabad': 182, 'Guyana Amazon Warriors': 127, 'Jamaica Tallawahs': 117, 'Barbados Royals': 117, 'Otago': 117, 'Durdanto Dhaka': 116, 'Wellington': 115, 'Central Districts': 114, 'Auckland': 113, 'Southern Vipers': 111, 'Chattogram Challengers': 110, 'St Lucia Kings': 106, 'Peshawar Zalmi': 103, 'Western Storm': 102, 'Khulna Tigers': 102, 'Cumilla Warriors': 102, 'Trinbago Knight Riders': 101, 'Rangpur Rangers': 100, 'Islamabad United': 100, 'Titans': 95, 'Warriors': 95, 'Lahore Qalandars': 94, 'Sylhet Strikers': 94, 'Karachi Kings': 93, 'Quetta Gladiators': 92, 'St Kitts and Nevis Patriots': 91, 'Dolphins': 88, 'Lions': 88, 'Birmingham Bears': 87, 'Knights': 86, 'Otago Volts': 84, 'Central Stags': 82, 'Auckland Aces': 82, 'Wellington Firebirds': 81, 'Northern Knights': 78, 'Leinster Lightning': 78, 'Multan Sultans': 78, 'Cape Cobras': 75, 'Deccan Chargers': 75, 'North West Warriors': 74, 'South East Stars': 74, 'Northern Diamonds': 73, 'Rajshahi Royals': 71, 'Central Sparks': 69, 'Sunrisers': 66, 'Thunder': 64, 'Munster Reds': 56, 'Karnataka': 54, 'Baroda': 53, 'Punjab': 53, 'Mumbai': 53, 'Southern Brave': 53, 'Tasmania': 51, 'Queensland': 51, 'South Australia': 49, 'New South Wales': 49, 'Delhi': 49, 'Victoria': 48, 'Tamil Nadu': 48, 'Oval Invincibles': 47, 'Western Australia': 46, 'Uttar Pradesh': 46, 'Welsh Fire': 46, 'Birmingham Phoenix': 46, 'Northern Superchargers': 46, 'Trent Rockets': 46, 'Manchester Originals': 46, 'Pune Warriors': 46, 'Gujarat Titans': 45, 'Gujarat': 44, 'Vidarbha': 44, 'London Spirit': 44, 'Lucknow Super Giants': 44, 'Railways': 42, 'Bengal': 42, 'Saurashtra': 40, 'Maharashtra': 40, 'Haryana': 40, 'Jaffna Kings': 40, 'The Blaze': 40, 'Kerala': 39, 'Galle Marvels': 39, 'Fortune Barishal': 39, 'Madhya Pradesh': 38, 'Tripura': 37, 'Hyderabad (India)': 37, 'Goa': 37, 'Assam': 37, 'Jharkhand': 37, 'B-Love Kandy': 37, 'Dambulla Sixers': 37, 'Colombo Strikers': 37, 'Rajasthan': 36, 'Andhra': 36, 'Loughborough Lightning': 33, 'Surrey Stars': 31, 'Jammu & Kashmir': 31, 'Chhattisgarh': 31, 'Services': 31, 'Gujarat Lions': 30, 'Lightning': 30, 'Trinidad & Tobago Red Steel': 30, 'Lancashire Thunder': 29, 'Himachal': 29, 'Mizoram': 29, 'Yorkshire Diamonds': 28, 'Odisha': 27, 'Puducherry': 26, 'Manipur': 26, 'Uttarakhand': 26, 'Barisal Bulls': 25, 'Nagaland': 25, 'Meghalaya': 25, 'Bihar': 24, 'Dubai Capitals': 24, 'Arunachal Pradesh': 23, "Durban's Super Giants": 23, 'Sunrisers Eastern Cape': 23, 'MI Emirates': 23, 'Gulf Giants': 23, 'Paarl Royals': 22, 'Joburg Super Kings': 22, 'Pretoria Capitals': 22, 'Desert Vipers': 22, 'Sikkim': 21, 'Nelson Mandela Bay Giants': 20, 'Paarl Rocks': 20, 'MI Cape Town': 20, 'Abu Dhabi Knight Riders': 20, 'Sharjah Warriors': 20, 'Cape Town Blitz': 19, 'Tshwane Spartans': 19, 'Barisal Burners': 19, 'Jozi Stars': 18, 'Boland': 17, 'UP Warriorz': 17, 'Rising Pune Supergiant': 16, 'Durban Heat': 16, 'Gujarat Giants': 16, 'North West': 15, 'Western Province': 15, 'Antigua Hawksbills': 15, 'Barmy Army': 14, 'Spirit': 14, 'Falcons': 14, 'Kochi Tuskers Kerala': 14, 'Rising Pune Supergiants': 14, 'Chandigarh': 13, 'Tornadoes': 13, 'Sapphires': 11, 'Kabul Zwanan': 10, 'Balkh Legends': 10, 'Supernovas': 10, 'Jamaica': 10, 'Paktia Panthers': 9, 'Nangarhar Leopards': 9, 'Barbados': 9, 'Windward Islands': 9, 'Trailblazers': 8, 'Kandahar Knights': 8, 'Velocity': 8, 'MI New York': 8, 'Impi': 8, 'Guyana': 8, 'Leeward Islands': 8, 'Texas Super Kings': 7, 'Seattle Orcas': 7, 'Washington Freedom': 6, 'Trinidad and Tobago': 6, 'Warriors (FairBreak)': 5, 'Himachal Pradesh': 5, 'San Francisco Unicorns': 5, 'Los Angeles Knight Riders': 5, 'KwaZulu-Natal Inland': 1}

In [24]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,outcome,toss,city,venue
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,"{""by"": {""runs"": 177}, ""winner"": ""South Africa""}","{""decision"": ""bat"", ""winner"": ""South Africa""}","""Perth""","""Western Australia Cricket Association Ground"""
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,"{""by"": {""innings"": 1, ""runs"": 80}, ""winner"": ""...","{""decision"": ""field"", ""winner"": ""South Africa""}","""Hobart""","""Bellerive Oval"""
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,"{""by"": {""wickets"": 7}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""South Africa""}",null,"""Adelaide Oval"""
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,"{""by"": {""runs"": 39}, ""winner"": ""Australia""}","{""decision"": ""bat"", ""winner"": ""Australia""}","""Brisbane""","""Brisbane Cricket Ground, Woolloongabba"""
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,"{""by"": {""innings"": 1, ""runs"": 18}, ""winner"": ""...","{""decision"": ""bat"", ""winner"": ""Pakistan""}",null,"""Melbourne Cricket Ground"""

In [25]:
def transform_dataframe(df):
    # 1. Change the start_date to datetime
    df['start_date'] = pd.to_datetime(df['start_date'])

    # 2. Split the toss field into toss_winner and toss_decision
    def extract_toss_details(toss):
        toss_data = json.loads(toss)  # Parse the JSON string to a dictionary
        return toss_data.get('winner'), toss_data.get('decision')
    
    df[['toss_winner', 'toss_decision']] = df['toss'].apply(lambda x: pd.Series(extract_toss_details(x)))

    # Drop the original toss column
    df.drop(columns=['toss'], inplace=True)

    # 3. Remove double quotes from the city and venue field
    df['city'] = df['city'].str.strip('"')
    df['venue'] = df['venue'].str.strip('"')

    return df

In [26]:
matches_df = transform_dataframe(matches_df)

In [27]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,outcome,city,venue,toss_winner,toss_decision
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,"{""by"": {""runs"": 177}, ""winner"": ""South Africa""}",Perth,Western Australia Cricket Association Ground,South Africa,bat
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,"{""by"": {""innings"": 1, ""runs"": 80}, ""winner"": ""...",Hobart,Bellerive Oval,South Africa,field
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,"{""by"": {""wickets"": 7}, ""winner"": ""Australia""}",null,Adelaide Oval,South Africa,bat
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,"{""by"": {""runs"": 39}, ""winner"": ""Australia""}",Brisbane,"Brisbane Cricket Ground, Woolloongabba",Australia,bat
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,"{""by"": {""innings"": 1, ""runs"": 18}, ""winner"": ""...",null,Melbourne Cricket Ground,Pakistan,bat

In [28]:
def process_outcome(outcome):
    # Initialize default values
    result = winner = runs = innings = wickets = method = None

    # Parse the JSON string to a dictionary
    outcome_data = json.loads(outcome)

    # Extract the common fields
    if 'result' in outcome_data:
        result = outcome_data['result']
    if 'winner' in outcome_data:
        winner = outcome_data['winner']
    if 'method' in outcome_data:
        method = outcome_data['method']
    if 'by' in outcome_data:
        by = outcome_data['by']
        if 'runs' in by:
            runs = by['runs']
        if 'innings' in by:
            innings = by['innings']
        if 'wickets' in by:
            wickets = by['wickets']

    return result, winner, runs, innings, wickets, method

# Apply the function to the outcome column and create new columns
matches_df[['result', 'winner', 'runs', 'innings', 'wickets', 'method']] = matches_df['outcome'].apply(
    lambda x: pd.Series(process_outcome(x))
)

# Drop the original outcome column
matches_df.drop(columns=['outcome'], inplace=True)

In [29]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,city,venue,toss_winner,toss_decision,result,winner,runs,innings,wickets,method
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,Perth,Western Australia Cricket Association Ground,South Africa,bat,None,South Africa,177.0,NaN,NaN,None
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,Hobart,Bellerive Oval,South Africa,field,None,South Africa,80.0,1.0,NaN,None
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,null,Adelaide Oval,South Africa,bat,None,Australia,NaN,NaN,7.0,None
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Australia,bat,None,Australia,39.0,NaN,NaN,None
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,null,Melbourne Cricket Ground,Pakistan,bat,None,Australia,18.0,1.0,NaN,None

In [30]:
import pandas as pd

# Create a mapping of venues to cities
def create_venue_city_mapping(df):
    venue_city_mapping = df.dropna(subset=['venue', 'city']).drop_duplicates(subset=['venue', 'city'])
    venue_city_dict = dict(zip(venue_city_mapping['venue'], venue_city_mapping['city']))
    return venue_city_dict

# Fill missing city values based on the venue
def fill_missing_cities(df, venue_city_dict):
    df['city'] = df.apply(
        lambda row: venue_city_dict[row['venue']] if pd.isnull(row['city']) and row['venue'] in venue_city_dict else row['city'],
        axis=1
    )
    return df

# Create the venue to city mapping
venue_city_dict = create_venue_city_mapping(matches_df)

# Fill the missing city values
matches_df = fill_missing_cities(matches_df, venue_city_dict)

# Check if the missing city values have been filled
print(matches_df[['venue', 'city']].head(20))  # Adjust the number of rows to print as needed

                                            venue      city
0    Western Australia Cricket Association Ground     Perth
1                                  Bellerive Oval    Hobart
2                                   Adelaide Oval      null
3          Brisbane Cricket Ground, Woolloongabba  Brisbane
4                        Melbourne Cricket Ground      null
5                           Sydney Cricket Ground      null
6          Brisbane Cricket Ground, Woolloongabba  Brisbane
7                        Melbourne Cricket Ground      null
8    Western Australia Cricket Association Ground     Perth
9                           Sydney Cricket Ground      null
10                                  Adelaide Oval      null
11                       Melbourne Cricket Ground      null
12                 Simonds Stadium, South Geelong  Victoria
13                                  Adelaide Oval      null
14                          Sydney Cricket Ground      null
15                                    Manuka Oval  Canberra
16                       Melbourne Cricket Ground      null
17  Civil Service Cricket Club, Stormont, Belfast   Belfast
18                              New Strabane Park  Strabane
19                           The Vineyard, Dublin    Dublin

In [31]:
import requests
from bs4 import BeautifulSoup

# Function to fetch city for a given venue
def fetch_city_for_venue(venue):
    try:
        search_url = f"https://en.wikipedia.org/wiki/{venue.replace(' ', '_')}"
        print(search_url)
        response = requests.get(search_url)
        if response.status_code != 200:
            print(f"Error fetching page for {venue}: Status code {response.status_code}")
            return None
        
        soup = BeautifulSoup(response.content, 'html.parser')
        infobox = soup.find('table', {'class': 'infobox'})

        if infobox:
            row = infobox.find('th', text='Location')
            if row:
                city = row.find_next_sibling('td').text.strip()
                return city
        
        print(f"Error fetching city for {venue}: 'Location' row not found")
        return None

    except Exception as e:
        print(f"Error fetching city for {venue}: {e}")
        return None

# List of venues
venues = [
    "Adelaide Oval",
    "Melbourne Cricket Ground",
    "Sydney Cricket Ground",
    "Harare Sports Club",
    "Sydney Showground Stadium",
    "Warner Park, Basseterre",
    "Rangiri Dambulla International Stadium",
    "Johor Cricket Academy Oval",
    "Dubai International Cricket Stadium",
    "Sharjah Cricket Stadium",
    "Saxton Oval",
    "Hagley Oval",
    "Bay Oval",
    "Cello Basin Reserve",
    "Kennards Hire Community Oval",
    "Seddon Park",
    "University of Otago Oval",
    "Nelson Park",
    "Mainpower Oval",
    "Colin Maiden Park",
    "Cobham Oval",
    "Eden Park",
    "Westpac Stadium",
    "Sano International Cricket Ground",
    "Arundel Castle Cricket Club Ground",
    "Uxbridge Cricket Club Ground",
    "Perth Stadium",
    "Colombo Cricket Club Ground",
    "Galle International Stadium",
    "Royal Chiangmai Golf Club",
    "Entebbe Cricket Oval",
    "Pallekele International Cricket Stadium",
    "Molyneux Park",
    "McLean Park",
    "Saurashtra Cricket Association Stadium",
    "Shaheed Veer Narayan Singh International Stadium",
    "Arun Jaitley Stadium",
    "Dr. Y.S. Rajasekhara Reddy ACA VDCA Cricket Stadium",
    "JSCA International Stadium Complex",
    "Dr P.V.G. Raju ACA Sports Complex",
    "Sylhet International Cricket Stadium",
    "Bulawayo Athletic Club",
    "JU Second Campus, Salt Lake",
    "Eden Gardens",
    "Carrara Oval",
    "Gahanga International Cricket Stadium, Rwanda",
    "Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex - DVR Ground, Mulapadu",
    "Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex - CP Ground, Mulapadu",
    "Lalbhai Contractor Stadium",
    "C B Patel Ground",
    "Holkar Stadium",
    "Emerald Heights International School Ground",
    "Barabati Stadium",
    "DRIEMS Ground",
    "Airforce Complex ground, Palam",
    "Airforce Complex ground, Palam II",
    "Hong Kong Cricket Club",
    "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1)",
    "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2)",
    "Queen's Park",
    "Sir Vivian Richards Stadium, North Sound",
    "St'Xavier's KCA Cricket Ground",
    "Greenfield Stadium",
    "Cricket Stadium, Sector-16",
    "GSSS, Sector 26",
    "BKC Ground",
    "Wankhede Stadium",
    "Rawalpindi Cricket Stadium",
    "Moara Vlasiei Cricket Ground",
    "Alur Cricket Stadium",
    "Alur Cricket Stadium II",
    "Alur Cricket Stadium III",
    "Jadavpur University Campus",
    "Motibaug Cricket Ground",
    "F B Colony Ground",
    "Reliance Cricket Stadium",
    "Sharad Pawar Cricket Academy BKC",
    "SSN College Ground",
    "T I Murugappa Ground",
    "Sri Ramachandra Medical College",
    "IC-Gurunanak College Ground",
    "Narendra Modi Stadium Ground 'A', Motera",
    "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B",
    "ACA Stadium, Barsapara",
    "Nehru Stadium",
    "Gurugram Cricket Ground (SRNCC)",
    "Chaudhry Bansi Lal Cricket Stadium",
    "Gokaraju Liala Gangaaraju ACA Cricket Ground",
    "ACA Stadium, Mangalagiri",
    "Alembic 2 Cricket Ground",
    "County Ground, Chelmsford",
    "Fitzherbert Park",
    "Tafawa Balewa Square (TBS) Cricket Oval",
    "San Albano",
    "St Georges Quilmes",
    "Multan Cricket Stadium",
    "Chittagong Divisional Stadium",
    "Queenstown Events Centre",
    "Stellenbosch University 1",
    "Stellenbosch University 2",
    "Sheikhupura Stadium",
    "Dubai Sports City Cricket Stadium",
    "Mombasa Sports Club Ground",
    "Sharjah Cricket Association Stadium",
    "Guanggong International Cricket Stadium",
    "Louth Cricket Club",
    "Sylhet Stadium",
    "Al Dhaid Cricket Village",
    "Adelaide Oval No. 2",
    "Vidarbha Cricket Association Stadium, Jamtha",
    "VCA Ground",
    "Jawaharlal Nehru Stadium",
    "St Paul's College Ground, Kalamassery",
    "Alembic 1 Cricket Ground",
    "West Mersea Cricket Club",
    "Guyana National Stadium, Providence"
]

# Dictionary to store the mapping of venue to city
venue_city_mapping = {}

# Fetch city for each venue
for venue in venues:
    city = fetch_city_for_venue(venue)
    if city:
        venue_city_mapping[venue] = city

# Print the venue to city mapping
for venue, city in venue_city_mapping.items():
    print(f"{venue}: {city}")

# Save the mapping to a file or use it as needed
import json

with open("venue_city_mapping.json", "w") as file:
    json.dump(venue_city_mapping, file)

https://en.wikipedia.org/wiki/Adelaide_Oval

C:\Users\soumyog\AppData\Local\Temp/ipykernel_16580/2136802624.py:18: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  row = infobox.find('th', text='Location')

https://en.wikipedia.org/wiki/Melbourne_Cricket_Ground
https://en.wikipedia.org/wiki/Sydney_Cricket_Ground
https://en.wikipedia.org/wiki/Harare_Sports_Club
https://en.wikipedia.org/wiki/Sydney_Showground_Stadium
https://en.wikipedia.org/wiki/Warner_Park,_Basseterre
https://en.wikipedia.org/wiki/Rangiri_Dambulla_International_Stadium
https://en.wikipedia.org/wiki/Johor_Cricket_Academy_Oval
Error fetching page for Johor Cricket Academy Oval: Status code 404
https://en.wikipedia.org/wiki/Dubai_International_Cricket_Stadium
Error fetching city for Dubai International Cricket Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/Sharjah_Cricket_Stadium
https://en.wikipedia.org/wiki/Saxton_Oval
https://en.wikipedia.org/wiki/Hagley_Oval
https://en.wikipedia.org/wiki/Bay_Oval
https://en.wikipedia.org/wiki/Cello_Basin_Reserve
Error fetching page for Cello Basin Reserve: Status code 404
https://en.wikipedia.org/wiki/Kennards_Hire_Community_Oval
Error fetching page for Kennards Hire Community Oval: Status code 404
https://en.wikipedia.org/wiki/Seddon_Park
https://en.wikipedia.org/wiki/University_of_Otago_Oval
https://en.wikipedia.org/wiki/Nelson_Park
Error fetching city for Nelson Park: 'Location' row not found
https://en.wikipedia.org/wiki/Mainpower_Oval
https://en.wikipedia.org/wiki/Colin_Maiden_Park
Error fetching city for Colin Maiden Park: 'Location' row not found
https://en.wikipedia.org/wiki/Cobham_Oval
https://en.wikipedia.org/wiki/Eden_Park
https://en.wikipedia.org/wiki/Westpac_Stadium
https://en.wikipedia.org/wiki/Sano_International_Cricket_Ground
https://en.wikipedia.org/wiki/Arundel_Castle_Cricket_Club_Ground
https://en.wikipedia.org/wiki/Uxbridge_Cricket_Club_Ground
https://en.wikipedia.org/wiki/Perth_Stadium
https://en.wikipedia.org/wiki/Colombo_Cricket_Club_Ground
https://en.wikipedia.org/wiki/Galle_International_Stadium
https://en.wikipedia.org/wiki/Royal_Chiangmai_Golf_Club
https://en.wikipedia.org/wiki/Entebbe_Cricket_Oval
https://en.wikipedia.org/wiki/Pallekele_International_Cricket_Stadium
https://en.wikipedia.org/wiki/Molyneux_Park
https://en.wikipedia.org/wiki/McLean_Park
https://en.wikipedia.org/wiki/Saurashtra_Cricket_Association_Stadium
https://en.wikipedia.org/wiki/Shaheed_Veer_Narayan_Singh_International_Stadium
https://en.wikipedia.org/wiki/Arun_Jaitley_Stadium
https://en.wikipedia.org/wiki/Dr._Y.S._Rajasekhara_Reddy_ACA_VDCA_Cricket_Stadium
Error fetching page for Dr. Y.S. Rajasekhara Reddy ACA VDCA Cricket Stadium: Status code 404
https://en.wikipedia.org/wiki/JSCA_International_Stadium_Complex
https://en.wikipedia.org/wiki/Dr_P.V.G._Raju_ACA_Sports_Complex
Error fetching page for Dr P.V.G. Raju ACA Sports Complex: Status code 404
https://en.wikipedia.org/wiki/Sylhet_International_Cricket_Stadium
https://en.wikipedia.org/wiki/Bulawayo_Athletic_Club
https://en.wikipedia.org/wiki/JU_Second_Campus,_Salt_Lake
Error fetching page for JU Second Campus, Salt Lake: Status code 404
https://en.wikipedia.org/wiki/Eden_Gardens
https://en.wikipedia.org/wiki/Carrara_Oval
https://en.wikipedia.org/wiki/Gahanga_International_Cricket_Stadium,_Rwanda
Error fetching page for Gahanga International Cricket Stadium, Rwanda: Status code 404
https://en.wikipedia.org/wiki/Dr._Gokaraju_Laila_Ganga_Raju_ACA_Cricket_Complex_-_DVR_Ground,_Mulapadu
Error fetching page for Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex - DVR Ground, Mulapadu: Status code 404
https://en.wikipedia.org/wiki/Dr._Gokaraju_Laila_Ganga_Raju_ACA_Cricket_Complex_-_CP_Ground,_Mulapadu
Error fetching page for Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex - CP Ground, Mulapadu: Status code 404
https://en.wikipedia.org/wiki/Lalbhai_Contractor_Stadium
https://en.wikipedia.org/wiki/C_B_Patel_Ground
Error fetching page for C B Patel Ground: Status code 404
https://en.wikipedia.org/wiki/Holkar_Stadium
https://en.wikipedia.org/wiki/Emerald_Heights_International_School_Ground
Error fetching page for Emerald Heights International School Ground: Status code 404
https://en.wikipedia.org/wiki/Barabati_Stadium
https://en.wikipedia.org/wiki/DRIEMS_Ground
https://en.wikipedia.org/wiki/Airforce_Complex_ground,_Palam
Error fetching page for Airforce Complex ground, Palam: Status code 404
https://en.wikipedia.org/wiki/Airforce_Complex_ground,_Palam_II
Error fetching page for Airforce Complex ground, Palam II: Status code 404
https://en.wikipedia.org/wiki/Hong_Kong_Cricket_Club
https://en.wikipedia.org/wiki/Al_Amerat_Cricket_Ground_Oman_Cricket_(Ministry_Turf_1)
Error fetching page for Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1): Status code 404
https://en.wikipedia.org/wiki/Al_Amerat_Cricket_Ground_Oman_Cricket_(Ministry_Turf_2)
Error fetching page for Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2): Status code 404
https://en.wikipedia.org/wiki/Queen's_Park
Error fetching city for Queen's Park: 'Location' row not found
https://en.wikipedia.org/wiki/Sir_Vivian_Richards_Stadium,_North_Sound
Error fetching page for Sir Vivian Richards Stadium, North Sound: Status code 404
https://en.wikipedia.org/wiki/St'Xavier's_KCA_Cricket_Ground
Error fetching page for St'Xavier's KCA Cricket Ground: Status code 404
https://en.wikipedia.org/wiki/Greenfield_Stadium
Error fetching city for Greenfield Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/Cricket_Stadium,_Sector-16
Error fetching page for Cricket Stadium, Sector-16: Status code 404
https://en.wikipedia.org/wiki/GSSS,_Sector_26
Error fetching page for GSSS, Sector 26: Status code 404
https://en.wikipedia.org/wiki/BKC_Ground
Error fetching page for BKC Ground: Status code 404
https://en.wikipedia.org/wiki/Wankhede_Stadium
https://en.wikipedia.org/wiki/Rawalpindi_Cricket_Stadium
https://en.wikipedia.org/wiki/Moara_Vlasiei_Cricket_Ground
https://en.wikipedia.org/wiki/Alur_Cricket_Stadium
https://en.wikipedia.org/wiki/Alur_Cricket_Stadium_II
Error fetching page for Alur Cricket Stadium II: Status code 404
https://en.wikipedia.org/wiki/Alur_Cricket_Stadium_III
Error fetching page for Alur Cricket Stadium III: Status code 404
https://en.wikipedia.org/wiki/Jadavpur_University_Campus
Error fetching page for Jadavpur University Campus: Status code 404
https://en.wikipedia.org/wiki/Motibaug_Cricket_Ground
Error fetching page for Motibaug Cricket Ground: Status code 404
https://en.wikipedia.org/wiki/F_B_Colony_Ground
Error fetching page for F B Colony Ground: Status code 404
https://en.wikipedia.org/wiki/Reliance_Cricket_Stadium
https://en.wikipedia.org/wiki/Sharad_Pawar_Cricket_Academy_BKC
Error fetching page for Sharad Pawar Cricket Academy BKC: Status code 404
https://en.wikipedia.org/wiki/SSN_College_Ground
Error fetching page for SSN College Ground: Status code 404
https://en.wikipedia.org/wiki/T_I_Murugappa_Ground
Error fetching page for T I Murugappa Ground: Status code 404
https://en.wikipedia.org/wiki/Sri_Ramachandra_Medical_College
Error fetching page for Sri Ramachandra Medical College: Status code 404
https://en.wikipedia.org/wiki/IC-Gurunanak_College_Ground
Error fetching page for IC-Gurunanak College Ground: Status code 404
https://en.wikipedia.org/wiki/Narendra_Modi_Stadium_Ground_'A',_Motera
Error fetching page for Narendra Modi Stadium Ground 'A', Motera: Status code 404
https://en.wikipedia.org/wiki/Bharat_Ratna_Shri_Atal_Bihari_Vajpayee_Ekana_Cricket_Stadium
Error fetching city for Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/Bharat_Ratna_Shri_Atal_Bihari_Vajpayee_Ekana_Cricket_Stadium_B
Error fetching page for Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B: Status code 404
https://en.wikipedia.org/wiki/ACA_Stadium,_Barsapara
https://en.wikipedia.org/wiki/Nehru_Stadium
Error fetching city for Nehru Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/Gurugram_Cricket_Ground_(SRNCC)
Error fetching page for Gurugram Cricket Ground (SRNCC): Status code 404
https://en.wikipedia.org/wiki/Chaudhry_Bansi_Lal_Cricket_Stadium
Error fetching page for Chaudhry Bansi Lal Cricket Stadium: Status code 404
https://en.wikipedia.org/wiki/Gokaraju_Liala_Gangaaraju_ACA_Cricket_Ground
Error fetching page for Gokaraju Liala Gangaaraju ACA Cricket Ground: Status code 404
https://en.wikipedia.org/wiki/ACA_Stadium,_Mangalagiri

Error fetching page for ACA Stadium, Mangalagiri: Status code 404
https://en.wikipedia.org/wiki/Alembic_2_Cricket_Ground
Error fetching page for Alembic 2 Cricket Ground: Status code 404
https://en.wikipedia.org/wiki/County_Ground,_Chelmsford
https://en.wikipedia.org/wiki/Fitzherbert_Park
https://en.wikipedia.org/wiki/Tafawa_Balewa_Square_(TBS)_Cricket_Oval
Error fetching page for Tafawa Balewa Square (TBS) Cricket Oval: Status code 404
https://en.wikipedia.org/wiki/San_Albano
Error fetching page for San Albano: Status code 404
https://en.wikipedia.org/wiki/St_Georges_Quilmes
Error fetching page for St Georges Quilmes: Status code 404
https://en.wikipedia.org/wiki/Multan_Cricket_Stadium
https://en.wikipedia.org/wiki/Chittagong_Divisional_Stadium
https://en.wikipedia.org/wiki/Queenstown_Events_Centre
https://en.wikipedia.org/wiki/Stellenbosch_University_1
Error fetching page for Stellenbosch University 1: Status code 404
https://en.wikipedia.org/wiki/Stellenbosch_University_2
Error fetching page for Stellenbosch University 2: Status code 404
https://en.wikipedia.org/wiki/Sheikhupura_Stadium
https://en.wikipedia.org/wiki/Dubai_Sports_City_Cricket_Stadium
Error fetching city for Dubai Sports City Cricket Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/Mombasa_Sports_Club_Ground
https://en.wikipedia.org/wiki/Sharjah_Cricket_Association_Stadium
https://en.wikipedia.org/wiki/Guanggong_International_Cricket_Stadium
https://en.wikipedia.org/wiki/Louth_Cricket_Club
Error fetching page for Louth Cricket Club: Status code 404
https://en.wikipedia.org/wiki/Sylhet_Stadium
https://en.wikipedia.org/wiki/Al_Dhaid_Cricket_Village
https://en.wikipedia.org/wiki/Adelaide_Oval_No._2
https://en.wikipedia.org/wiki/Vidarbha_Cricket_Association_Stadium,_Jamtha
Error fetching page for Vidarbha Cricket Association Stadium, Jamtha: Status code 404
https://en.wikipedia.org/wiki/VCA_Ground
https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Stadium
Error fetching city for Jawaharlal Nehru Stadium: 'Location' row not found
https://en.wikipedia.org/wiki/St_Paul's_College_Ground,_Kalamassery
Error fetching page for St Paul's College Ground, Kalamassery: Status code 404
https://en.wikipedia.org/wiki/Alembic_1_Cricket_Ground
Error fetching page for Alembic 1 Cricket Ground: Status code 404
https://en.wikipedia.org/wiki/West_Mersea_Cricket_Club
Error fetching page for West Mersea Cricket Club: Status code 404
https://en.wikipedia.org/wiki/Guyana_National_Stadium,_Providence
Error fetching page for Guyana National Stadium, Providence: Status code 404
Adelaide Oval: War Memorial DriveNorth Adelaide, South AustraliaAustralia
Melbourne Cricket Ground: Yarra Park
Sydney Cricket Ground: Moore Park, Sydney, New South Wales
Harare Sports Club: Harare, Zimbabwe
Sydney Showground Stadium: Sydney Olympic Park, New South Wales (Map)
Warner Park, Basseterre: Basseterre, St. Kitts and Nevis
Rangiri Dambulla International Stadium: Dambulla, Central Province
Sharjah Cricket Stadium: Sharjah, United Arab Emirates
Saxton Oval: Nelson, New Zealand
Hagley Oval: Christchurch, Canterbury
Bay Oval: Mount Maunganui, Tauranga, New Zealand
Seddon Park: Hamilton Central, Hamilton, New Zealand
University of Otago Oval: Dunedin, New Zealand
Mainpower Oval: Rangiora, New Zealand
Cobham Oval: Whangārei, New Zealand
Eden Park: Kingsland, New Zealand
Westpac Stadium: Wellington, New Zealand
Sano International Cricket Ground: 300-1 Tochimoto-cho
Sano, Tochigi-ken 327-0312 Japan
Arundel Castle Cricket Club Ground: Arundel, West Sussex
Uxbridge Cricket Club Ground: Uxbridge, London
Perth Stadium: Burswood, Western Australia
Colombo Cricket Club Ground: Maitland Crescent, Colombo 7
Galle International Stadium: Galle, Sri Lanka
Royal Chiangmai Golf Club: Chiang Mai, Thailand
Entebbe Cricket Oval: Entebbe, Uganda
Pallekele International Cricket Stadium: Pallekele, Kandy, Sri Lanka
Molyneux Park: Alexandra, New Zealand
McLean Park: Napier, New Zealand
Saurashtra Cricket Association Stadium: Rajkot, Gujarat, India
Shaheed Veer Narayan Singh International Stadium: Sector-3 Nava Raipur, Raipur,Chhattisgarh,India
Arun Jaitley Stadium: Bahadur Shah Zafar Marg, Delhi
JSCA International Stadium Complex: Ranchi, Jharkhand, India
Sylhet International Cricket Stadium: Sylhet, Bangladesh
Bulawayo Athletic Club: Bulawayo, Matabeleland, Zimbabwe
Eden Gardens: Near Maidan, B.B.D. Bagh, Kolkata, West Bengal, India
Carrara Oval: Carrara, Queensland
Lalbhai Contractor Stadium: Vesu, Surat, Gujarat
Holkar Stadium: Race course Rd, Indore, Indore district, Madhya Pradesh, India
Barabati Stadium: Stadium Road, Cuttack, Odisha
DRIEMS Ground: Tangi, Cuttack, Odisha, India
Hong Kong Cricket Club: Wong Nai Chung Gap, Hong Kong
Wankhede Stadium: Churchgate, Mumbai, Maharashtra, India
Rawalpindi Cricket Stadium: Rawalpindi, Punjab, Pakistan
Moara Vlasiei Cricket Ground: Moara Vlăsiei, Ilfov County, Romania
Alur Cricket Stadium: Alur, Bangalore, Karnataka, India
Reliance Cricket Stadium: Nagothane, Maharashtra
ACA Stadium, Barsapara: Barsapara, Guwahati, Assam
County Ground, Chelmsford: Chelmsford, Essex
Fitzherbert Park: Palmerston North, New Zealand
Multan Cricket Stadium: Multan, Punjab, Pakistan
Chittagong Divisional Stadium: Chittagong
Queenstown Events Centre: Joe O'Connell Drive, Frankton, Queenstown, New Zealand
Sheikhupura Stadium: Sheikhupura, Punjab, Pakistan
Mombasa Sports Club Ground: Mombasa, Kenya
Sharjah Cricket Association Stadium: Sharjah, United Arab Emirates
Guanggong International Cricket Stadium: Guangzhou, Guangdong, China
Sylhet Stadium: Sylhet, Bangladesh
Al Dhaid Cricket Village: Al Dhaid, Emirate of Sharjah
Adelaide Oval No. 2: War Memorial DriveNorth Adelaide, South AustraliaAustralia
VCA Ground: Nagpur

In [35]:
import pandas as pd
import json

# Assuming matches_df is already created and has columns 'venue' and 'city'

# Load the venue-city mapping from the JSON file
with open("venue_city_mapping.json", "r") as file:
    venue_city_mapping = json.load(file)

# Function to fill missing city values based on the venue
def fill_missing_city(row):
    if row['city'] == "null" and row['venue'] in venue_city_mapping:
        return venue_city_mapping[row['venue']]
    return row['city']

# Apply the function to fill missing city values
matches_df['city'] = matches_df.apply(fill_missing_city, axis=1)

# Check if any city values are still "null"
missing_cities = matches_df[matches_df['city'] == "null"]

# Verify the DataFrame
print(matches_df.head())

# Print the rows with "null" city values
if not missing_cities.empty:
    print("Rows with 'null' city values:")
    print(missing_cities)
else:
    print("No 'null' city values.")

  match_id gender start_date     teams_type match_type team_involved_one  \
0  1000851   male 2016-11-03  international       Test         Australia
1  1000853   male 2016-11-12  international       Test         Australia
2  1000855   male 2016-11-24  international       Test         Australia
3  1000881   male 2016-12-15  international       Test         Australia
4  1000883   male 2016-12-26  international       Test         Australia

  team_involved_two       city                                         venue  \
0      South Africa      Perth  Western Australia Cricket Association Ground
1      South Africa     Hobart                                Bellerive Oval
2      South Africa   Adelaide                                 Adelaide Oval
3          Pakistan   Brisbane        Brisbane Cricket Ground, Woolloongabba
4          Pakistan  Melbourne                      Melbourne Cricket Ground

    toss_winner toss_decision result        winner   runs  innings  wickets  \
0  South Africa           bat   None  South Africa  177.0      NaN      NaN
1  South Africa         field   None  South Africa   80.0      1.0      NaN
2  South Africa           bat   None     Australia    NaN      NaN      7.0
3     Australia           bat   None     Australia   39.0      NaN      NaN
4      Pakistan           bat   None     Australia   18.0      1.0      NaN

  method
0   None
1   None
2   None
3   None
4   None
Rows with 'null' city values:
      match_id gender start_date     teams_type match_type  team_involved_one  \
2479   1151243   male 2018-07-07  international       IT20             Uganda
2480   1151244   male 2018-07-07  international       IT20           Tanzania
2481   1151246   male 2018-07-08  international       IT20              Kenya
2482   1151247   male 2018-07-10  international       IT20           Tanzania
2483   1151248   male 2018-07-10  international       IT20             Uganda
2484   1151249   male 2018-07-11  international       IT20             Uganda
2485   1151250   male 2018-07-11  international       IT20             Rwanda
2486   1151251   male 2018-07-13  international       IT20              Kenya
2487   1151252   male 2018-07-13  international       IT20             Uganda
2488   1151253   male 2018-07-14  international       IT20           Tanzania
2489   1151254   male 2018-07-14  international       IT20              Kenya
2711   1157091   male 2019-02-21           club        SMA          Jharkhand
2712   1157092   male 2019-02-21           club        SMA             Kerala
2713   1157093   male 2019-02-21           club        SMA           Nagaland
2717   1157099   male 2019-02-21           club        SMA             Mumbai
2725   1157108   male 2019-02-22           club        SMA            Manipur
2726   1157109   male 2019-02-22           club        SMA    Jammu & Kashmir
2727   1157110   male 2019-02-22           club        SMA             Andhra
2731   1157115   male 2019-02-22           club        SMA             Mumbai
2740   1157125   male 2019-02-24           club        SMA    Jammu & Kashmir
2741   1157126   male 2019-02-24           club        SMA          Jharkhand
2742   1157127   male 2019-02-24           club        SMA             Kerala
2747   1157132   male 2019-02-24           club        SMA             Punjab
2757   1157142   male 2019-02-25           club        SMA             Kerala
2758   1157143   male 2019-02-25           club        SMA             Andhra
2759   1157144   male 2019-02-25           club        SMA           Nagaland
2764   1157149   male 2019-02-25           club        SMA                Goa
2774   1157159   male 2019-02-27           club        SMA              Delhi
2775   1157160   male 2019-02-27           club        SMA          Jharkhand
2776   1157161   male 2019-02-27           club        SMA             Kerala
2780   1157165   male 2019-02-27           club        SMA                Goa
2782   1157167   male 2019-02-27           club        SMA           Railways
2790   1157176   male 2019-02-28           club        SMA             Andhra
2791   1157177   male 2019-02-28           club        SMA           Nagaland
2792   1157178   male 2019-02-28           club        SMA            Manipur
2796   1157182   male 2019-02-28           club        SMA             Punjab
2797   1157183   male 2019-02-28           club        SMA             Sikkim
2806   1157193   male 2019-03-02           club        SMA           Nagaland
2807   1157194   male 2019-03-02           club        SMA             Kerala
2808   1157195   male 2019-03-02           club        SMA             Andhra
2811   1157199   male 2019-03-02           club        SMA     Madhya Pradesh
2813   1157201   male 2019-03-02           club        SMA                Goa
3625   1175025   male 2019-03-08           club        SMA          Jharkhand
3627   1175027   male 2019-03-08           club        SMA           Railways
3629   1175029   male 2019-03-09           club        SMA             Bengal
3630   1175030   male 2019-03-09           club        SMA              Delhi
3633   1175033   male 2019-03-10           club        SMA              Delhi
3634   1175034   male 2019-03-10           club        SMA           Vidarbha
3637   1175037   male 2019-03-11           club        SMA           Railways
3640   1175042   male 2019-03-12           club        SMA             Mumbai
3642   1175044   male 2019-03-12           club        SMA           Vidarbha
5436   1244316   male 2021-01-11           club        SMA           Vidarbha
5452   1244335   male 2021-01-13           club        SMA           Services
5487   1244373   male 2021-01-17           club        SMA         Saurashtra
6661   1280216   male 2021-11-04           club        SMA            Mizoram
6668   1280225   male 2021-11-05           club        SMA             Andhra
6677   1280234   male 2021-11-05           club        SMA  Arunachal Pradesh
6678   1280235   male 2021-11-05           club        SMA            Tripura
6685   1280242   male 2021-11-06           club        SMA            Haryana
6686   1280243   male 2021-11-06           club        SMA             Andhra
6699   1280263   male 2021-11-08           club        SMA          Rajasthan
6705   1280272   male 2021-11-08           club        SMA            Tripura
6706   1280273   male 2021-11-08           club        SMA           Vidarbha
6713   1280280   male 2021-11-09           club        SMA           Himachal
6714   1280281   male 2021-11-09           club        SMA          Rajasthan
6724   1280291   male 2021-11-09           club        SMA           Vidarbha
6725   1280292   male 2021-11-09           club        SMA          Meghalaya
16339   902095   male 2016-01-02           club        SMA    Jammu & Kashmir
16350   902119   male 2016-01-03           club        SMA             Kerala
16362   902143   male 2016-01-04           club        SMA            Tripura
16370   902165   male 2016-01-06           club        SMA             Kerala
16383   902193   male 2016-01-07           club        SMA         Saurashtra
16392   902213   male 2016-01-09           club        SMA             Punjab
16402   902235   male 2016-01-10           club        SMA             Kerala

       team_involved_two  city  \
2479               Kenya  null
2480              Rwanda  null
2481              Rwanda  null
2482               Kenya  null
2483              Rwanda  null
2484            Tanzania  null
2485               Kenya  null
2486            Tanzania  null
2487              Rwanda  null
2488              Rwanda  null
2489              Uganda  null
2711               Delhi  null
2712             Manipur  null
2713     Jammu & Kashmir  null
2717              Sikkim  null
2725               Delhi  null
2726           Jharkhand  null
2727            Nagaland  null
2731              Punjab  null
2740               Delhi  null
2741             Manipur  null
2742              Andhra  null
2747          Saurashtra  null
2757               Delhi  null
2758     Jammu & Kashmir  null
2759             Manipur  null
2764              Mumbai  null
2774              Andhra  null
2775            Nagaland  null
2776     Jammu & Kashmir  null
2780      Madhya Pradesh  null
2782              Mumbai  null
2790           Jharkhand  null
2791              Kerala  null
2792     Jammu & Kashmir  null
2796                 Goa  null
2797            Railways  null
2806               Delhi  null
2807           Jharkhand  null
2808             Manipur  null
2811              Sikkim  null
2813          Saurashtra  null
3625             Gujarat  null
3627              Bengal  null
3629         Maharashtra  null
3630              Mumbai  null
3633           Karnataka  null
3634       Uttar Pradesh  null
3637             Gujarat  null
3640       Uttar Pradesh  null
3642           Karnataka  null
5436           Rajasthan  null
5452                 Goa  null
5487      Madhya Pradesh  null
6661           Meghalaya  null
6668             Haryana  null
6677             Manipur  null
6678             Mizoram  null
6685     Jammu & Kashmir  null
6686           Jharkhand  null
6699              Andhra  null
6705           Meghalaya  null
6706             Manipur  null
6713              Andhra  null
6714             Haryana  null
6724              Sikkim  null
6725   Arunachal Pradesh  null
16339             Kerala  null
16350          Rajasthan  null
16362             Kerala  null
16370         Saurashtra  null
16383          Rajasthan  null
16392             Kerala  null
16402          Jharkhand  null

                                                   venue        toss_winner  \
2479       Gahanga International Cricket Stadium. Rwanda              Kenya
2480       Gahanga International Cricket Stadium. Rwanda           Tanzania
2481       Gahanga International Cricket Stadium. Rwanda              Kenya
2482       Gahanga International Cricket Stadium. Rwanda           Tanzania
2483       Gahanga International Cricket Stadium. Rwanda             Rwanda
2484       Gahanga International Cricket Stadium. Rwanda             Uganda
2485       Gahanga International Cricket Stadium. Rwanda             Rwanda
2486       Gahanga International Cricket Stadium. Rwanda              Kenya
2487       Gahanga International Cricket Stadium. Rwanda             Uganda
2488       Gahanga International Cricket Stadium. Rwanda           Tanzania
2489       Gahanga International Cricket Stadium. Rwanda             Uganda
2711   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...              Delhi
2712   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Kerala
2713   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...    Jammu & Kashmir
2717         Emerald Heights International School Ground             Mumbai
2725   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...              Delhi
2726   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...          Jharkhand
2727   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Andhra
2731         Emerald Heights International School Ground             Punjab
2740   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...              Delhi
2741   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...            Manipur
2742   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Kerala
2747         Emerald Heights International School Ground         Saurashtra
2757   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Kerala
2758   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...    Jammu & Kashmir
2759   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...           Nagaland
2764         Emerald Heights International School Ground                Goa
2774   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...              Delhi
2775   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...          Jharkhand
2776   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...    Jammu & Kashmir
2780         Emerald Heights International School Ground                Goa
2782         Emerald Heights International School Ground             Mumbai
2790   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Andhra
2791   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Kerala
2792   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...    Jammu & Kashmir
2796         Emerald Heights International School Ground             Punjab
2797         Emerald Heights International School Ground           Railways
2806   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...           Nagaland
2807   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Kerala
2808   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...             Andhra
2811         Emerald Heights International School Ground     Madhya Pradesh
2813         Emerald Heights International School Ground                Goa
3625         Emerald Heights International School Ground            Gujarat
3627         Emerald Heights International School Ground           Railways
3629         Emerald Heights International School Ground        Maharashtra
3630         Emerald Heights International School Ground             Mumbai
3633         Emerald Heights International School Ground          Karnataka
3634         Emerald Heights International School Ground      Uttar Pradesh
3637         Emerald Heights International School Ground           Railways
3640         Emerald Heights International School Ground      Uttar Pradesh
3642         Emerald Heights International School Ground          Karnataka
5436         Emerald Heights International School Ground          Rajasthan
5452         Emerald Heights International School Ground                Goa
5487         Emerald Heights International School Ground         Saurashtra
6661                             ACA Stadium,Mangalagiri            Mizoram
6668                           Alembic 2  Cricket Ground            Haryana
6677                             ACA Stadium,Mangalagiri  Arunachal Pradesh
6678                             ACA Stadium,Mangalagiri            Tripura
6685                           Alembic 2  Cricket Ground    Jammu & Kashmir
6686                           Alembic 2  Cricket Ground          Jharkhand
6699                           Alembic 2  Cricket Ground          Rajasthan
6705                             ACA Stadium,Mangalagiri            Tripura
6706                             ACA Stadium,Mangalagiri           Vidarbha
6713                           Alembic 2  Cricket Ground             Andhra
6714                           Alembic 2  Cricket Ground            Haryana
6724                             ACA Stadium,Mangalagiri           Vidarbha
6725                             ACA Stadium,Mangalagiri  Arunachal Pradesh
16339              St  Pauls college ground  Kalamassery             Kerala
16350              St  Pauls college ground  Kalamassery          Rajasthan
16362              St  Pauls college ground  Kalamassery             Kerala
16370              St  Pauls college ground  Kalamassery         Saurashtra
16383              St  Pauls college ground  Kalamassery         Saurashtra
16392              St  Pauls college ground  Kalamassery             Kerala
16402              St  Pauls college ground  Kalamassery          Jharkhand

      toss_decision result           winner   runs  innings  wickets method
2479          field   None            Kenya    NaN      NaN      4.0   None
2480            bat   None         Tanzania   76.0      NaN      NaN   None
2481            bat   None            Kenya  123.0      NaN      NaN   None
2482            bat   None            Kenya    NaN      NaN      7.0   None
2483          field   None           Uganda  170.0      NaN      NaN   None
2484            bat   None         Tanzania    NaN      NaN      6.0   None
2485            bat   None            Kenya    NaN      NaN      5.0   None
2486            bat   None            Kenya   56.0      NaN      NaN   None
2487            bat   None           Uganda   94.0      NaN      NaN   None
2488            bat   None         Tanzania   80.0      NaN      NaN   None
2489          field   None           Uganda    NaN      NaN      7.0   None
2711          field   None        Jharkhand    3.0      NaN      NaN   None
2712            bat   None           Kerala   83.0      NaN      NaN   None
2713          field   None  Jammu & Kashmir    NaN      NaN      9.0   None
2717            bat   None           Mumbai  154.0      NaN      NaN   None
2725          field   None            Delhi    NaN      NaN     10.0   None
2726          field   None        Jharkhand    NaN      NaN      9.0   None
2727            bat   None           Andhra  179.0      NaN      NaN   None
2731          field   None           Mumbai   35.0      NaN      NaN   None
2740          field   None            Delhi    NaN      NaN      4.0   None
2741          field   None        Jharkhand  121.0      NaN      NaN   None
2742            bat   None           Kerala    8.0      NaN      NaN   None
2747          field   None       Saurashtra    NaN      NaN      8.0   None
2757            bat   None            Delhi    NaN      NaN      7.0   None
2758          field   None  Jammu & Kashmir    NaN      NaN      5.0   None
2759            bat   None          Manipur    NaN      NaN     10.0   None
2764            bat   None           Mumbai    NaN      NaN      6.0   None
2774            bat   None            Delhi   32.0      NaN      NaN   None
2775            bat   None        Jharkhand   54.0      NaN      NaN   None
2776          field   None           Kerala   94.0      NaN      NaN   None
2780            bat   None   Madhya Pradesh    NaN      NaN      4.0   None
2782          field   None         Railways   57.0      NaN      NaN   None
2790            bat   None           Andhra    3.0      NaN      NaN   None
2791          field   None           Kerala    NaN      NaN     10.0   None
2792          field   None  Jammu & Kashmir    NaN      NaN      8.0   None
2796            bat   None           Punjab   79.0      NaN      NaN   None
2797          field   None         Railways    NaN      NaN      9.0   None
2806            bat   None            Delhi    NaN      NaN      7.0   None
2807            bat   None        Jharkhand    NaN      NaN      5.0   None
2808            bat   None           Andhra   91.0      NaN      NaN   None
2811            bat   None   Madhya Pradesh   50.0      NaN      NaN   None
2813            bat   None       Saurashtra    NaN      NaN      5.0   None
3625          field   None        Jharkhand    1.0      NaN      NaN   None
3627            bat   None           Bengal    NaN      NaN      6.0   None
3629          field   None      Maharashtra    NaN      NaN      7.0   None
3630          field   None           Mumbai    NaN      NaN      8.0   None
3633          field   None        Karnataka    NaN      NaN      8.0   None
3634          field   None         Vidarbha   10.0      NaN      NaN   None
3637            bat   None          Gujarat    NaN      NaN      7.0   None
3640          field   None           Mumbai   46.0      NaN      NaN   None
3642          field   None        Karnataka    NaN      NaN      6.0   None
5436          field   None        Rajasthan    NaN      NaN      3.0   None
5452          field   None              Goa    NaN      NaN      5.0   None
5487            bat   None   Madhya Pradesh    NaN      NaN      6.0   None
6661            bat   None        Meghalaya    NaN      NaN      9.0   None
6668          field   None          Haryana    NaN      NaN      6.0   None
6677            bat   None          Manipur    NaN      NaN      6.0   None
6678            bat   None          Tripura   29.0      NaN      NaN   None
6685          field   None  Jammu & Kashmir    NaN      NaN      7.0   None
6686          field   None           Andhra    8.0      NaN      NaN   None

In [36]:
import pandas as pd
import json

# Assuming matches_df is already created and has columns 'venue' and 'city'

# Load the venue-city mapping from the JSON file
with open("venue_city_mapping.json", "r") as file:
    venue_city_mapping = json.load(file)

# Function to fill missing city values based on the venue
def fill_missing_city(row):
    if row['city'] == "null" and row['venue'] in venue_city_mapping:
        return venue_city_mapping[row['venue']]
    return row['city']

# Apply the function to fill missing city values
matches_df['city'] = matches_df.apply(fill_missing_city, axis=1)

# Check if any city values are still "null"
missing_cities = matches_df[matches_df['city'] == "null"]

# Verify the DataFrame
print(matches_df.head())

# Print the rows with "null" city values along with their venues
if not missing_cities.empty:
    print("Rows with 'null' city values and their corresponding venues:")
    print(missing_cities[['venue', 'city']])
else:
    print("No 'null' city values.")

  match_id gender start_date     teams_type match_type team_involved_one  \
0  1000851   male 2016-11-03  international       Test         Australia
1  1000853   male 2016-11-12  international       Test         Australia
2  1000855   male 2016-11-24  international       Test         Australia
3  1000881   male 2016-12-15  international       Test         Australia
4  1000883   male 2016-12-26  international       Test         Australia

  team_involved_two       city                                         venue  \
0      South Africa      Perth  Western Australia Cricket Association Ground
1      South Africa     Hobart                                Bellerive Oval
2      South Africa   Adelaide                                 Adelaide Oval
3          Pakistan   Brisbane        Brisbane Cricket Ground, Woolloongabba
4          Pakistan  Melbourne                      Melbourne Cricket Ground

    toss_winner toss_decision result        winner   runs  innings  wickets  \
0  South Africa           bat   None  South Africa  177.0      NaN      NaN
1  South Africa         field   None  South Africa   80.0      1.0      NaN
2  South Africa           bat   None     Australia    NaN      NaN      7.0
3     Australia           bat   None     Australia   39.0      NaN      NaN
4      Pakistan           bat   None     Australia   18.0      1.0      NaN

  method
0   None
1   None
2   None
3   None
4   None
Rows with 'null' city values and their corresponding venues:
                                                   venue  city
2479       Gahanga International Cricket Stadium. Rwanda  null
2480       Gahanga International Cricket Stadium. Rwanda  null
2481       Gahanga International Cricket Stadium. Rwanda  null
2482       Gahanga International Cricket Stadium. Rwanda  null
2483       Gahanga International Cricket Stadium. Rwanda  null
2484       Gahanga International Cricket Stadium. Rwanda  null
2485       Gahanga International Cricket Stadium. Rwanda  null
2486       Gahanga International Cricket Stadium. Rwanda  null
2487       Gahanga International Cricket Stadium. Rwanda  null
2488       Gahanga International Cricket Stadium. Rwanda  null
2489       Gahanga International Cricket Stadium. Rwanda  null
2711   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2712   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2713   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2717         Emerald Heights International School Ground  null
2725   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2726   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2727   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2731         Emerald Heights International School Ground  null
2740   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2741   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2742   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2747         Emerald Heights International School Ground  null
2757   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2758   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2759   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2764         Emerald Heights International School Ground  null
2774   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2775   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2776   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2780         Emerald Heights International School Ground  null
2782         Emerald Heights International School Ground  null
2790   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2791   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2792   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2796         Emerald Heights International School Ground  null
2797         Emerald Heights International School Ground  null
2806   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2807   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2808   Dr. Gokaraju Laila Ganga Raju ACA Cricket Comp...  null
2811         Emerald Heights International School Ground  null
2813         Emerald Heights International School Ground  null
3625         Emerald Heights International School Ground  null
3627         Emerald Heights International School Ground  null
3629         Emerald Heights International School Ground  null
3630         Emerald Heights International School Ground  null
3633         Emerald Heights International School Ground  null
3634         Emerald Heights International School Ground  null
3637         Emerald Heights International School Ground  null
3640         Emerald Heights International School Ground  null
3642         Emerald Heights International School Ground  null
5436         Emerald Heights International School Ground  null
5452         Emerald Heights International School Ground  null
5487         Emerald Heights International School Ground  null
6661                             ACA Stadium,Mangalagiri  null
6668                           Alembic 2  Cricket Ground  null
6677                             ACA Stadium,Mangalagiri  null
6678                             ACA Stadium,Mangalagiri  null
6685                           Alembic 2  Cricket Ground  null
6686                           Alembic 2  Cricket Ground  null
6699                           Alembic 2  Cricket Ground  null
6705                             ACA Stadium,Mangalagiri  null
6706                             ACA Stadium,Mangalagiri  null
6713                           Alembic 2  Cricket Ground  null
6714                           Alembic 2  Cricket Ground  null
6724                             ACA Stadium,Mangalagiri  null
6725                             ACA Stadium,Mangalagiri  null
16339              St  Pauls college ground  Kalamassery  null
16350              St  Pauls college ground  Kalamassery  null
16362              St  Pauls college ground  Kalamassery  null
16370              St  Pauls college ground  Kalamassery  null
16383              St  Pauls college ground  Kalamassery  null
16392              St  Pauls college ground  Kalamassery  null
16402              St  Pauls college ground  Kalamassery  null

In [37]:
import pandas as pd
import json

# Assuming matches_df is already created and has columns 'venue' and 'city'

# Load the venue-city mapping from the JSON file
with open("venue_city_mapping.json", "r") as file:
    venue_city_mapping = json.load(file)

# Function to fill missing city values based on the venue
def fill_missing_city(row):
    if row['city'] == "null" and row['venue'] in venue_city_mapping:
        return venue_city_mapping[row['venue']]
    return row['city']

# Apply the function to fill missing city values
matches_df['city'] = matches_df.apply(fill_missing_city, axis=1)

# Check if any city values are still "null"
missing_cities = matches_df[matches_df['city'] == "null"]

# Verify the DataFrame
print(matches_df.head())

# Print the rows with "null" city values along with their venues grouped by venue
if not missing_cities.empty:
    print("Rows with 'null' city values grouped by venue:")
    grouped_missing_cities = missing_cities.groupby('venue')['city'].count()
    print(grouped_missing_cities)
else:
    print("No 'null' city values.")

  match_id gender start_date     teams_type match_type team_involved_one  \
0  1000851   male 2016-11-03  international       Test         Australia
1  1000853   male 2016-11-12  international       Test         Australia
2  1000855   male 2016-11-24  international       Test         Australia
3  1000881   male 2016-12-15  international       Test         Australia
4  1000883   male 2016-12-26  international       Test         Australia

  team_involved_two       city                                         venue  \
0      South Africa      Perth  Western Australia Cricket Association Ground
1      South Africa     Hobart                                Bellerive Oval
2      South Africa   Adelaide                                 Adelaide Oval
3          Pakistan   Brisbane        Brisbane Cricket Ground, Woolloongabba
4          Pakistan  Melbourne                      Melbourne Cricket Ground

    toss_winner toss_decision result        winner   runs  innings  wickets  \
0  South Africa           bat   None  South Africa  177.0      NaN      NaN
1  South Africa         field   None  South Africa   80.0      1.0      NaN
2  South Africa           bat   None     Australia    NaN      NaN      7.0
3     Australia           bat   None     Australia   39.0      NaN      NaN
4      Pakistan           bat   None     Australia   18.0      1.0      NaN

  method
0   None
1   None
2   None
3   None
4   None
Rows with 'null' city values grouped by venue:
venue
 Emerald Heights International School Ground                              22
ACA Stadium,Mangalagiri                                                    7
Alembic 2  Cricket Ground                                                  6
Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex -CP Ground,Mulapadu      7
Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex -DVR Ground,Mulapadu    14
Gahanga International Cricket Stadium. Rwanda                             11
St  Pauls college ground  Kalamassery                                      7
Name: city, dtype: int64

In [39]:
import pandas as pd
import json

# Assuming matches_df is already created and has columns 'venue' and 'city'

# Load the venue-city mapping from the JSON file
with open("venue_city_mapping.json", "r") as file:
    venue_city_mapping = json.load(file)

# Function to fill missing city values based on the venue
def fill_missing_city(row):
    if row['city'] == "null" and row['venue'] in venue_city_mapping:
        return venue_city_mapping[row['venue']]
    return row['city']

# Apply the function to fill missing city values
matches_df['city'] = matches_df.apply(fill_missing_city, axis=1)

# Check if any city values are still "null"
missing_cities = matches_df[matches_df['city'] == "null"]

# Verify the DataFrame
print(matches_df.head())

# Print the rows with "null" city values along with their venues grouped by venue
if not missing_cities.empty:
    print("Rows with 'null' city values grouped by venue:")
    grouped_missing_cities = missing_cities.groupby('venue')['city'].count()
    print(grouped_missing_cities)
else:
    print("No 'null' city values.")

  match_id gender start_date     teams_type match_type team_involved_one  \
0  1000851   male 2016-11-03  international       Test         Australia
1  1000853   male 2016-11-12  international       Test         Australia
2  1000855   male 2016-11-24  international       Test         Australia
3  1000881   male 2016-12-15  international       Test         Australia
4  1000883   male 2016-12-26  international       Test         Australia

  team_involved_two       city                                         venue  \
0      South Africa      Perth  Western Australia Cricket Association Ground
1      South Africa     Hobart                                Bellerive Oval
2      South Africa   Adelaide                                 Adelaide Oval
3          Pakistan   Brisbane        Brisbane Cricket Ground, Woolloongabba
4          Pakistan  Melbourne                      Melbourne Cricket Ground

    toss_winner toss_decision result        winner   runs  innings  wickets  \
0  South Africa           bat   None  South Africa  177.0      NaN      NaN
1  South Africa         field   None  South Africa   80.0      1.0      NaN
2  South Africa           bat   None     Australia    NaN      NaN      7.0
3     Australia           bat   None     Australia   39.0      NaN      NaN
4      Pakistan           bat   None     Australia   18.0      1.0      NaN

  method
0   None
1   None
2   None
3   None
4   None
No 'null' city values.

In [40]:
# Drop the 'venue' column from the DataFrame
matches_df = matches_df.drop(columns=['venue'])

# Verify the DataFrame
print(matches_df.head())

  match_id gender start_date     teams_type match_type team_involved_one  \
0  1000851   male 2016-11-03  international       Test         Australia
1  1000853   male 2016-11-12  international       Test         Australia
2  1000855   male 2016-11-24  international       Test         Australia
3  1000881   male 2016-12-15  international       Test         Australia
4  1000883   male 2016-12-26  international       Test         Australia

  team_involved_two       city   toss_winner toss_decision result  \
0      South Africa      Perth  South Africa           bat   None
1      South Africa     Hobart  South Africa         field   None
2      South Africa   Adelaide  South Africa           bat   None
3          Pakistan   Brisbane     Australia           bat   None
4          Pakistan  Melbourne      Pakistan           bat   None

         winner   runs  innings  wickets method
0  South Africa  177.0      NaN      NaN   None
1  South Africa   80.0      1.0      NaN   None
2     Australia    NaN      NaN      7.0   None
3     Australia   39.0      NaN      NaN   None
4     Australia   18.0      1.0      NaN   None

In [42]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,city,toss_winner,toss_decision,result,winner,runs,innings,wickets,method
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,Perth,South Africa,bat,None,South Africa,177.0,NaN,NaN,None
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,Hobart,South Africa,field,None,South Africa,80.0,1.0,NaN,None
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,Adelaide,South Africa,bat,None,Australia,NaN,NaN,7.0,None
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,Brisbane,Australia,bat,None,Australia,39.0,NaN,NaN,None
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,Melbourne,Pakistan,bat,None,Australia,18.0,1.0,NaN,None

In [43]:
# Group by 'city' and count the number of matches
city_counts = matches_df.groupby('city').size().reset_index(name='match_count')

# Print the grouped data
city_counts

                              city  match_count
0                         Aberdeen           13
1                        Abu Dhabi          298
2                            Accra           25
3                         Adelaide          232
4                        Ahmedabad           78
5                            Ajman            4
6                        Al Amarat          161
7                         Al Dhaid            3
8                       Albergaria            6
9                           Albury            5
10                       Alexandra           21
11                   Alice Springs            7
12                         Almeria           46
13                      Amstelveen           41
14                         Antigua           40
15                            Apia            6
16                        Arbroath            7
17                         Arundel           19
18                        Auckland          173
19                           Avadi            5
20                             Ayr            6
21                            Bali           23
22                        Ballarat            6
23                  Bandar Kinrara            1
24                       Bangalore           94
25                           Bangi           70
26                         Bangkok           92
27                        Barbados           73
28                      Basseterre           55
29                       Beckenham           44
30                         Belfast           73
31                        Belgrade            3
32                         Bendigo            9
33                       Bengaluru           68
34                          Benoni           78
35                         Bermuda            7
36                      Birmingham          322
37              Bishop's Stortford            1
38                       Blackpool           19
39                    Bloemfontein           45
40                           Bogra            5
41                          Bowral            3
42                          Bready           31
43                      Bridgetown           49
44                        Brighton          144
45                        Brisbane          187
46                         Bristol          190
47                         Brondby           11
48                    Buenos Aires           17
49                        Bulawayo          110
50                          Burnie            3
51                          Cairns            8
52                       Cambridge            2
53                        Canberra           61
54                      Canterbury          159
55                       Cape Town          136
56                         Cardiff          216
57                         Carrara           23
58                          Castel           11
59                       Centurion          140
60                      Chandigarh          130
61                      Chattogram          140
62                      Chelmsford          212
63                      Cheltenham           40
64                         Chennai          127
65                         Chester            5
66               Chester-le-Street          210
67                    Chesterfield           20
68                      Chiang Mai           21
69                      Chittagong           42
70                    Christchurch          143
71                   Coffs Harbour            6
72                      Coggeshall            1
73                      Colchester            4
74                         Colombo          287
75                      Colwyn Bay            5
76                          Comber           13
77                        Coolidge           19
78                      Copenhagen            2
79                            Cork           15
80                     Cox's Bazar            4
81                         Cuttack           58
82                          Dallas           15
83                        Dambulla           56
84                          Darwin            5
85                      Dasmarinas           11
86                       Dehra Dun           20
87                        Dehradun            2
88                           Delhi          140
89                           Derby          164
90                           Derry            1
91                        Deventer           23
92                           Dhaka          323
93                      Dharamsala           32
94                      Dharmasala            3
95                            Doha           39
96                        Dominica           11
97                           Dreux            7
98                           Dubai          421
99                          Dublin          169
100                         Dundee           10
101                        Dunedin           97
102                         Durban          145
103                    East London           48
104                     Eastbourne            3
105                      Edinburgh           58
106                       Eglinton            6
107                        Entebbe           26
108                       Episkopi           16
109                          Essex            1
110             FTZ Sports Complex            2
111                     Faisalabad            8
112                      Faridabad            2
113                       Fatullah           14
114                 Frinton-on-Sea            3
115                       Gaborone           76
116                          Galle           53
117                        Geelong           20
118                     Georgetown           25
119                          Ghent            5
120                      Gibraltar           18
121                        Glasgow            4
122                     Gold Coast            4
123                       Gosforth           11
124                       Gqeberha           23
125                  Grand Prairie            1
126                       Grantham            3
127                  Greater Noida           13
128                        Grenada           17
129                     Gros Islet           38
130                        Guacima            4
131                      Guangzhou            4
132                      Guildford           25
133                       Gurugram            8
134                       Guwahati           28
135                         Guyana           68
136                        Gwalior            3
137                       Halstead            1
138                     Hambantota           73
139                       Hamilton          155
140                       Hangzhou           15
141                         Harare          233
142                         Hobart          159
143                      Hong Kong           12
144                        Horsham            3
145                        Houston            7
146                           Hove           41
147                      Hyderabad           96
148                   Ilfov County           25
149                        Incheon           28
150                         Indore           86
151                   Invercargill            4
152                         Jaipur           94
153                        Jamaica           58
154                     Jamshedpur            1
155                   Johannesburg          150
156                          Johor            2
157                    Johor Bahru            3
158                     Kalavakkam            5
159                        Kampala           26
160                          Kandy           93
161                         Kanpur           16
162                        Karachi          146
163                      Kathmandu           14
164                     Katunayake            1
165                         Kerava           31
166                         Khulna           16
167                       Kibworth            2
168                  Kidderminster            5
169                         Kigali           11
170                    Kigali City          171
171                      Kimberley           34
172                      King City           18
173                      Kingsland            1
174                       Kingston           13
175                      Kingstown            8
176                       Kirtipur           77
177                          Kochi           29
178                        Kolkata          169
179                         Kolsva            1
180                        Kowloon           20
181                        Krefeld           18
182                   Kuala Lumpur          239
183                     Kurunegala            2
184                    Kuwait City           17
185                         Kwekwe            2
186                          Lagos           29
187                   Lagos Island            1
188                         Lahore          113
189                        Latrobe            2
190                     Lauderhill           37
191                     Launceston           28
192                          Leeds          227
193                      Leicester          191
194                        Lincoln            8
195                      Liverpool           13
196                         London          536
197                    Londonderry            6
198                    Los Angeles           27
199                   Loughborough           25
200                          Louth            1
201                  Lower Austria            5
202                        Lucknow           50
203                         Mackay           26
204                     Manchester          236
205                    Mangalagiri            7
206                         Margao            2
207                  Market Warsop            5
208                          Marsa           48
209                      Matieland            3
210                       Medicina            1
211                      Melbourne          314
212                  Milton Keynes            1
213                      Milverton            1
214                         Mirpur          140
215                  Moara Vlasiei            3
216                            Moe            5
217                         Mohali            6
218                        Mombasa            5
219                       Mong Kok           21
220                    Morrisville           17
221                Mount Maunganui           74
222                         Multan           28
223                         Mumbai          307
224                         Murcia           28
225                      Nagothane           18
226                         Nagpur           55
227                        Nairobi           58
228                         Napier           71
229                      Naucalpan            3
230                    Navi Mumbai           26
231                         Navile            4
232                          Neath            3
233                         Nelson           38
234                    Nettleworth            2
235                      New Delhi           64
236                   New Plymouth           30
237                       New York            8
238                        Newbury            1
239                        Newport            5
240                    North Sound           51
241                    Northampton          187
242                      Northwood           12
243                     Nottingham          260
244                      Nuriootpa            2
245                         Oakham            2
246                          Osaka            4
247                          Paarl           60
248                         Padang            4
249                      Pallekele            1
250               Palmerston North           10
251                       Pearland           12
252                          Perth          207
253                       Peshawar            3
254                     Phnom Penh            4
255                        Pianoro            5
256               Pietermaritzburg            6
257                        Pokhara            4
258                     Port  Soif            1
259                 Port Elizabeth           99
260                   Port Moresby           28
261                      Port Vila           38
262                  Port of Spain           17
263                  Potchefstroom           90
264                         Prague           19
265                       Pretoria            4
266                     Providence           40
267                           Pune           75
268                     Queensland            1
269                     Queenstown           27
270                        Radlett           28
271                         Raipur           22
272                         Rajkot           48
273                         Ranchi           41
274                       Rangiora           17
275                     Rawalpindi           52
276                       Richmond            7
277                         Rohtak            4
278                           Rome           12
279                         Roseau            3
280                      Rotterdam           13
281                          Rugby            1
282                           Sale            5
283                           Sano           25
284                    Scarborough           37
285                       Schiedam            9
286                       Sedbergh            3
287                        Sharjah          235
288                    Sheikhupura            1
289                           Sind            1
290                      Singapore           49
291                          Sofia           16
292                      Sookholme            3
293                    Southampton          276
294                Southend-on-Sea            1
295                      Southport            8
296                      Spinaceto           12
297                     St Clement            8
298                    St George's           14
299                      St John's            3
300                       St Kitts           65
301                       St Lucia           76
302                      St Martin            7
303                  St Peter Port            6
304                     St Saviour           16
305                     St Vincent           12
306                       Stirling            4
307                      Stockholm            4
308                       Strabane            3
309                         Street            1
310                          Surat           61
311                           Suva           11
312                        Swansea            8
313                         Sydney          378
314                         Sylhet          119
315                      Szodliget            2
316                        Tarouba           21
317                        Taunton          219
318                       Tauranga            9
319                      The Hague           18
320             Thiruvananthapuram            6
321                        Toronto            2
322                     Townsville            6
323                       Trinidad          113
324                     Trivandrum           20
325                Tunbridge Wells            7
326                        Utrecht           30
327                       Uxbridge            3
328                       Vadodara           37
329                         Vantaa           22
330                       Victoria            2
331                     Vijayawada           31
332                  Visakhapatnam           55
333                    Vizianagram           12
334                       Voorburg            3
335                    Walferdange            3
336                    Waringstown            2
337                       Waterloo           10
338                        Welbeck            3
339                     Wellington          179
340                      Whangarei           15
341                        Wicklow            2
342                       Windhoek          173
343                     Wollongong            3
344             Wong Nai Chung Gap            8
345  Wong Nai Chung Gap, Hong Kong            1
346                      Worcester          191
347                       Wormsley            6
348                           York           12

In [49]:
import pandas as pd
from fuzzywuzzy import fuzz

# Assuming matches_df already exists and contains a column 'city'

# Step 1: Extract unique city names from the dataframe
unique_cities = matches_df['city'].dropna().unique()

# Step 2: Initialize an empty list to store similar city pairs
similar_city_pairs = []

# Step 3: Perform fuzzy matching
for i in range(len(unique_cities)):
    city1 = unique_cities[i]
    for j in range(i + 1, len(unique_cities)):
        city2 = unique_cities[j]
        similarity_ratio = fuzz.ratio(city1.lower(), city2.lower())
        if similarity_ratio > 60:  # Adjust the threshold as needed
            similar_city_pairs.append((city1, city2))

# Step 4: Print the list of similar city pairs
print("Similar city pairs found based on fuzzy matching:")
for pair in similar_city_pairs:
    print(pair)

Similar city pairs found based on fuzzy matching:
('Adelaide', 'Delhi')
('Adelaide', 'Belgrade')
('Adelaide', 'Al Dhaid')
('Brisbane', 'Strabane')
('Melbourne', 'Eastbourne')
('Melbourne', 'Burnie')
('Victoria', 'Pretoria')
('Canberra', 'Canterbury')
('Canberra', 'Carrara')
('Canberra', 'Albergaria')
('Dublin', 'Durban')
('Dublin', 'Dunedin')
('Dublin', 'Dubai')
('Waringstown', 'Wellington')
('Waringstown', 'Brighton')
('Waringstown', 'Bridgetown')
('Waringstown', 'Kingston')
('Waringstown', 'Kingstown')
('Comber', 'Colombo')
('Edinburgh', 'Sedbergh')
('Durban', 'Dubai')
('Paarl', 'Pearland')
('Paarl', 'Peshawar')
('Benoni', 'Bendigo')
('Benoni', 'Chennai')
('Potchefstroom', 'Colchester')
('Port Elizabeth', 'Port Vila')
('East London', 'London')
('Amstelveen', 'Castel')
('Nairobi', 'Napier')
('Londonderry', 'London')
('Londonderry', 'Derry')
('Harare', 'Sharjah')
('Harare', 'Whangarei')
('Harare', 'Carrara')
('Harare', 'Pokhara')
('Guyana', 'Guacima')
('Jamaica', 'Mackay')
('Nelson', 'Launceston')
('Nelson', 'Geelong')
('Nelson', 'Incheon')
('Napier', 'Nagpur')
('Napier', 'Navile')
('Wellington', 'Eglinton')
('Wellington', 'Wollongong')
('Wellington', 'Kingston')
('Wellington', 'Kingstown')
('Hamilton', 'Southampton')
('Hamilton', 'Northampton')
('Hamilton', 'Milverton')
('Auckland', 'Kandy')
('Auckland', 'Naucalpan')
('Auckland', 'Pearland')
('Dunedin', 'Dundee')
('London', 'Lincoln')
('London', 'Wollongong')
('London', 'Kowloon')
('Antigua', 'Vantaa')
('Albury', 'Canterbury')
('Albury', 'Newbury')
('Hong Kong', 'Wollongong')
('Hong Kong', 'Mong Kok')
('Bristol', 'Brighton')
('Mirpur', 'Kirtipur')
('Mirpur', 'Raipur')
('Mirpur', 'Jaipur')
('Kanpur', 'Nagpur')
('Kanpur', 'Raipur')
('Kanpur', 'Jaipur')
('Kolkata', 'Kolsva')
('Indore', 'Windhoek')
('Indore', 'Singapore')
('Indore', 'Pianoro')
('Dharmasala', 'Dharamsala')
('Delhi', 'New Delhi')
('Chandigarh', 'Whangarei')
('Ranchi', 'Karachi')
('Southampton', 'Northampton')
('Southampton', 'Southport')
('Taunton', 'Launceston')
('Manchester', 'Worcester')
('Manchester', 'Chesterfield')
('Manchester', 'Leicester')
('Manchester', 'Chester')
('Manchester', 'Colchester')
('Southend-on-Sea', 'Frinton-on-Sea')
('Mumbai', 'Dubai')
('Mumbai', 'Navi Mumbai')
('Mumbai', 'Mombasa')
('Nagpur', 'Raipur')
('Nagpur', 'Jaipur')
('Bangalore', 'Whangarei')
('Bangalore', 'Bengaluru')
('Bangalore', 'Bangkok')
('Bangalore', 'Singapore')
('Bangalore', 'Gwalior')
('Hyderabad', 'Ahmedabad')
('Dambulla', 'Dallas')
('Dambulla', 'Fatullah')
('Stockholm', 'Sookholme')
('Johor Bahru', 'Johor')
('Dubai', 'Bali')
('Abu Dhabi', 'Al Dhaid')
('Lincoln', 'Eglinton')
('Lincoln', 'Incheon')
('Tauranga', 'Rangiora')
('Rangiora', 'Bangi')
('Whangarei', 'Chiang Mai')
('Kingsland', 'Queensland')
('Kingsland', 'Kingston')
('Kingsland', 'Kingstown')
('Dhaka', 'Doha')
('Bangkok', 'Bangi')
('Bangkok', 'Mong Kok')
('Cheltenham', 'Beckenham')
('Worcester', 'Leicester')
('Worcester', 'Chester')
('Worcester', 'Colchester')
('Northampton', 'North Sound')
('Chesterfield', 'Chester')
('Chesterfield', 'Colchester')
('Arundel', 'Dundee')
('Canterbury', 'Newbury')
('Richmond', 'Brighton')
('Richmond', 'Incheon')
('Leicester', 'Chester')
('Leicester', 'Colchester')
('Derby', 'Derry')
('Brighton', 'Bridgetown')
('Brighton', 'Kingston')
('Eastbourne', 'Burnie')
('Eastbourne', 'Gaborone')
('Scarborough', 'Loughborough')
('Scarborough', 'Arbroath')
('Uxbridge', 'Tunbridge Wells')
('Uxbridge', 'Bridgetown')
('Uxbridge', 'Cambridge')
('Kirtipur', 'Raipur')
('Lahore', 'Latrobe')
('Galle', 'Sale')
('Bready', 'Brondby')
('Bready', 'Grenada')
('Eglinton', 'Kingston')
('Cork', 'York')
('York', 'New York')
('Alexandra', 'Almeria')
('Alexandra', 'Albergaria')
('New Plymouth', 'Newport')
('Northwood', 'North Sound')
('Oakham', 'Pokhara')
('Oakham', 'Osaka')
('Oakham', 'Horsham')
('Karachi', 'Kochi')
('Raipur', 'Jaipur')
('Jaipur', 'Jamshedpur')
('Kuwait City', 'Kigali City')
('Kuwait City', 'King City')
('Lagos', 'Glasgow')
('Bangi', 'Bali')
('Queensland', 'Queenstown')
('Dehra Dun', 'Dehradun')
('Utrecht', 'Street')
('Kigali', 'Kigali City')
('Kigali', 'Gwalior')
('Ballarat', 'Al Amarat')
('Suva', 'Surat')
('Morrisville', 'Townsville')
('Bridgetown', 'Cambridge')
('Bridgetown', 'Kingstown')
('Bridgetown', 'Georgetown')
('Gros Islet', 'Lagos Island')
('Wong Nai Chung Gap, Hong Kong', 'Wong Nai Chung Gap')
('Al Amarat', 'Almeria')
('Dasmarinas', 'St Martin')
('Dasmarinas', 'Darwin')
('Newport', 'Nettleworth')
('Newport', 'New York')
('Sedbergh', 'Gqeberha')
('Chester', 'Castel')
('Chester', 'Colchester')
('Murcia', 'Almeria')
('Murcia', 'Guacima')
('Port Vila', 'Port  Soif')
('Port of Spain', 'Port  Soif')
('Kingston', 'Kingstown')
('Kigali City', 'King City')
('Aberdeen', 'Belgrade')
('Incheon', 'Spinaceto')
('Almeria', 'Albergaria')
('Lower Austria', 'Albergaria')
('Ahmedabad', 'Faridabad')
('Marsa', 'Margao')
('Marsa', 'Mombasa')
('Queenstown', 'Kingstown')
('Townsville', 'Navile')
('Belgrade', 'Bogra')
('Street', 'St Clement')
('St Clement', 'St Vincent')
('Hangzhou', 'Guangzhou')
('Spinaceto', 'St Vincent')
('Faisalabad', 'Faridabad')
('Bogra', 'Bowral')

In [50]:
city_mapping = {
    "East London": "London",
    "Navi Mumbai": "Mumbai",
    "Kigali City": "Kigali",
    "Wong Nai Chung Gap, Hong Kong": "Wong Nai Chung Gap",
    "Dehra Dun": "Dehradun",
    "Dharamsala": "Dharmasala",
    "Delhi": "New Delhi",
    "Bangalore": "Bengaluru"
}

# Step 6: Use the mapping to replace city names in the dataframe
matches_df['city'] = matches_df['city'].replace(city_mapping)

# Verify the updated dataframe
print("\nUpdated dataframe with replaced city names:")
matches_df.head()

Updated dataframe with replaced city names:

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,city,toss_winner,toss_decision,result,winner,runs,innings,wickets,method
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,Perth,South Africa,bat,None,South Africa,177.0,NaN,NaN,None
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,Hobart,South Africa,field,None,South Africa,80.0,1.0,NaN,None
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,Adelaide,South Africa,bat,None,Australia,NaN,NaN,7.0,None
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,Brisbane,Australia,bat,None,Australia,39.0,NaN,NaN,None
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,Melbourne,Pakistan,bat,None,Australia,18.0,1.0,NaN,None

In [51]:
# Group by 'city' and count the number of matches
city_counts = matches_df.groupby('city').size().reset_index(name='match_count')

# Print the grouped data
city_counts

                   city  match_count
0              Aberdeen           13
1             Abu Dhabi          298
2                 Accra           25
3              Adelaide          232
4             Ahmedabad           78
5                 Ajman            4
6             Al Amarat          161
7              Al Dhaid            3
8            Albergaria            6
9                Albury            5
10            Alexandra           21
11        Alice Springs            7
12              Almeria           46
13           Amstelveen           41
14              Antigua           40
15                 Apia            6
16             Arbroath            7
17              Arundel           19
18             Auckland          173
19                Avadi            5
20                  Ayr            6
21                 Bali           23
22             Ballarat            6
23       Bandar Kinrara            1
24                Bangi           70
25              Bangkok           92
26             Barbados           73
27           Basseterre           55
28            Beckenham           44
29              Belfast           73
30             Belgrade            3
31              Bendigo            9
32            Bengaluru          162
33               Benoni           78
34              Bermuda            7
35           Birmingham          322
36   Bishop's Stortford            1
37            Blackpool           19
38         Bloemfontein           45
39                Bogra            5
40               Bowral            3
41               Bready           31
42           Bridgetown           49
43             Brighton          144
44             Brisbane          187
45              Bristol          190
46              Brondby           11
47         Buenos Aires           17
48             Bulawayo          110
49               Burnie            3
50               Cairns            8
51            Cambridge            2
52             Canberra           61
53           Canterbury          159
54            Cape Town          136
55              Cardiff          216
56              Carrara           23
57               Castel           11
58            Centurion          140
59           Chandigarh          130
60           Chattogram          140
61           Chelmsford          212
62           Cheltenham           40
63              Chennai          127
64              Chester            5
65    Chester-le-Street          210
66         Chesterfield           20
67           Chiang Mai           21
68           Chittagong           42
69         Christchurch          143
70        Coffs Harbour            6
71           Coggeshall            1
72           Colchester            4
73              Colombo          287
74           Colwyn Bay            5
75               Comber           13
76             Coolidge           19
77           Copenhagen            2
78                 Cork           15
79          Cox's Bazar            4
80              Cuttack           58
81               Dallas           15
82             Dambulla           56
83               Darwin            5
84           Dasmarinas           11
85             Dehradun           22
86                Derby          164
87                Derry            1
88             Deventer           23
89                Dhaka          323
90           Dharmasala           35
91                 Doha           39
92             Dominica           11
93                Dreux            7
94                Dubai          421
95               Dublin          169
96               Dundee           10
97              Dunedin           97
98               Durban          145
99           Eastbourne            3
100           Edinburgh           58
101            Eglinton            6
102             Entebbe           26
103            Episkopi           16
104               Essex            1
105  FTZ Sports Complex            2
106          Faisalabad            8
107           Faridabad            2
108            Fatullah           14
109      Frinton-on-Sea            3
110            Gaborone           76
111               Galle           53
112             Geelong           20
113          Georgetown           25
114               Ghent            5
115           Gibraltar           18
116             Glasgow            4
117          Gold Coast            4
118            Gosforth           11
119            Gqeberha           23
120       Grand Prairie            1
121            Grantham            3
122       Greater Noida           13
123             Grenada           17
124          Gros Islet           38
125             Guacima            4
126           Guangzhou            4
127           Guildford           25
128            Gurugram            8
129            Guwahati           28
130              Guyana           68
131             Gwalior            3
132            Halstead            1
133          Hambantota           73
134            Hamilton          155
135            Hangzhou           15
136              Harare          233
137              Hobart          159
138           Hong Kong           12
139             Horsham            3
140             Houston            7
141                Hove           41
142           Hyderabad           96
143        Ilfov County           25
144             Incheon           28
145              Indore           86
146        Invercargill            4
147              Jaipur           94
148             Jamaica           58
149          Jamshedpur            1
150        Johannesburg          150
151               Johor            2
152         Johor Bahru            3
153          Kalavakkam            5
154             Kampala           26
155               Kandy           93
156              Kanpur           16
157             Karachi          146
158           Kathmandu           14
159          Katunayake            1
160              Kerava           31
161              Khulna           16
162            Kibworth            2
163       Kidderminster            5
164              Kigali          182
165           Kimberley           34
166           King City           18
167           Kingsland            1
168            Kingston           13
169           Kingstown            8
170            Kirtipur           77
171               Kochi           29
172             Kolkata          169
173              Kolsva            1
174             Kowloon           20
175             Krefeld           18
176        Kuala Lumpur          239
177          Kurunegala            2
178         Kuwait City           17
179              Kwekwe            2
180               Lagos           29
181        Lagos Island            1
182              Lahore          113
183             Latrobe            2
184          Lauderhill           37
185          Launceston           28
186               Leeds          227
187           Leicester          191
188             Lincoln            8
189           Liverpool           13
190              London          584
191         Londonderry            6
192         Los Angeles           27
193        Loughborough           25
194               Louth            1
195       Lower Austria            5
196             Lucknow           50
197              Mackay           26
198          Manchester          236
199         Mangalagiri            7
200              Margao            2
201       Market Warsop            5
202               Marsa           48
203           Matieland            3
204            Medicina            1
205           Melbourne          314
206       Milton Keynes            1
207           Milverton            1
208              Mirpur          140
209       Moara Vlasiei            3
210                 Moe            5
211              Mohali            6
212             Mombasa            5
213            Mong Kok           21
214         Morrisville           17
215     Mount Maunganui           74
216              Multan           28
217              Mumbai          333
218              Murcia           28
219           Nagothane           18
220              Nagpur           55
221             Nairobi           58
222              Napier           71
223           Naucalpan            3
224              Navile            4
225               Neath            3
226              Nelson           38
227         Nettleworth            2
228           New Delhi          204
229        New Plymouth           30
230            New York            8
231             Newbury            1
232             Newport            5
233         North Sound           51
234         Northampton          187
235           Northwood           12
236          Nottingham          260
237           Nuriootpa            2
238              Oakham            2
239               Osaka            4
240               Paarl           60
241              Padang            4
242           Pallekele            1
243    Palmerston North           10
244            Pearland           12
245               Perth          207
246            Peshawar            3
247          Phnom Penh            4
248             Pianoro            5
249    Pietermaritzburg            6
250             Pokhara            4
251          Port  Soif            1
252      Port Elizabeth           99
253        Port Moresby           28
254           Port Vila           38
255       Port of Spain           17
256       Potchefstroom           90
257              Prague           19
258            Pretoria            4
259          Providence           40
260                Pune           75
261          Queensland            1
262          Queenstown           27
263             Radlett           28
264              Raipur           22
265              Rajkot           48
266              Ranchi           41
267            Rangiora           17
268          Rawalpindi           52
269            Richmond            7
270              Rohtak            4
271                Rome           12
272              Roseau            3
273           Rotterdam           13
274               Rugby            1
275                Sale            5
276                Sano           25
277         Scarborough           37
278            Schiedam            9
279            Sedbergh            3
280             Sharjah          235
281         Sheikhupura            1
282                Sind            1
283           Singapore           49
284               Sofia           16
285           Sookholme            3
286         Southampton          276
287     Southend-on-Sea            1
288           Southport            8
289           Spinaceto           12
290          St Clement            8
291         St George's           14
292           St John's            3
293            St Kitts           65
294            St Lucia           76
295           St Martin            7
296       St Peter Port            6
297          St Saviour           16
298          St Vincent           12
299            Stirling            4
300           Stockholm            4
301            Strabane            3
302              Street            1
303               Surat           61
304                Suva           11
305             Swansea            8
306              Sydney          378
307              Sylhet          119
308           Szodliget            2
309             Tarouba           21
310             Taunton          219
311            Tauranga            9
312           The Hague           18
313  Thiruvananthapuram            6
314             Toronto            2
315          Townsville            6
316            Trinidad          113
317          Trivandrum           20
318     Tunbridge Wells            7
319             Utrecht           30
320            Uxbridge            3
321            Vadodara           37
322              Vantaa           22
323            Victoria            2
324          Vijayawada           31
325       Visakhapatnam           55
326         Vizianagram           12
327            Voorburg            3
328         Walferdange            3
329         Waringstown            2
330            Waterloo           10
331             Welbeck            3
332          Wellington          179
333           Whangarei           15
334             Wicklow            2
335            Windhoek          173
336          Wollongong            3
337  Wong Nai Chung Gap            9
338           Worcester          191
339            Wormsley            6
340                York           12

In [53]:
matches_df.head()

,match_id,gender,start_date,teams_type,match_type,team_involved_one,team_involved_two,city,toss_winner,toss_decision,result,winner,runs,innings,wickets,method
0,1000851,male,2016-11-03,international,Test,Australia,South Africa,Perth,South Africa,bat,None,South Africa,177.0,NaN,NaN,None
1,1000853,male,2016-11-12,international,Test,Australia,South Africa,Hobart,South Africa,field,None,South Africa,80.0,1.0,NaN,None
2,1000855,male,2016-11-24,international,Test,Australia,South Africa,Adelaide,South Africa,bat,None,Australia,NaN,NaN,7.0,None
3,1000881,male,2016-12-15,international,Test,Australia,Pakistan,Brisbane,Australia,bat,None,Australia,39.0,NaN,NaN,None
4,1000883,male,2016-12-26,international,Test,Australia,Pakistan,Melbourne,Pakistan,bat,None,Australia,18.0,1.0,NaN,None